.col-12 {
    width: 100%
}
.col-11 {
    width: 91.66666667%;
    max-width: 91.66666667%;
}
.col-10 {
    width: 83.33333333%;
    max-width: 83.33333333%
}
.col-9 {
    width: 75%;
    max-width: 75%
}
.col-8 {
    width: 66.66666667%;
    max-width: 66.66666667%;
}
.col-7 {
    width: 58.33333333%;
    max-width: 58.33333333%;
}
.col-6 {
    width: 50%;
    max-width: 50%;
}
.col-5 {
    width: 41.66666667%;
    max-width: 41.66666667%;
}
.col-4 {
    width: 33.33333333%;
    max-width: 33.33333333%;
}
.col-3 {
    width: 25%;
    max-width: 25%;
}
.col-2 {
    width: 16.66666667%;
    max-width: 16.66666667%;
}
.col-1 {
    width: 8.333333333%;
    max-width: 8.333333333%;
}

.align_c {
    text-align: center;
}
.align_r {
    text-align: right;
}

.align_l {
    text-align: left;
}
.padd_0 {
    padding: 0;
}

.padd_20 {
    padding: 20;
}

.padd_tb_5 {
    padding: 5px 0;
}

.padd_tb_17 {
    padding: 17px 0;
}

.padd_t_15 {
    padding-top: 15px;
}

.padd_t_20 {
    padding-top: 20px;
}

.padd_r_20 {
    padding-right: 20px; 
}

.padd_r_30 {
    padding-right: 30px;
}

.padd_h_10 {
    padding: 0 10px;
}
.padd_l_10 {
    padding-left: 10px;
}
.padd_l_15 {
    padding-left: 15px;
}
.padd_l_20 {
    padding-left: 20px;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.radius50 {
    border-radius: 50%;
}

.red_border_imp {
    border: 1px solid red !important;
}

.height100 {
    height: 100%;
}

.width_20 {
    width: 20%;
}

.height_auto {
    height: auto;
}

.margin_0 {
    margin:0;
}

.margin_b_15 {
    margin-bottom:15px;
}

.margin_b_30 {
    margin-bottom:30px;
}
.margin_20 {
    margin:20px;
}
.margin_l_20 {
    margin-left:20px;
}
.position_rel {
    position: relative;
}

.clear_r {
    clear: right;
}

.clear_l {
    clear: left;
}
.display_none {
    display: none;
}
.display_inline_block {
    display: inline-block;
}
.display_flex {
    display: flex;
}
.font_14 {
    font-size: 0.875rem;
}
.font_8 {
    font-size: 0.5rem !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C9C9C9;
    font-size: 0.6875rem;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C9C9C9;
    font-size: 0.6875rem;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #C9C9C9;
    font-size: 0.6875rem;
}

  .overflow_hidd {
      overflow: hidden;
  }

  .overflow_auto {
      overflow: auto;
      
      scrollbar-width: thin;
  }

.bg_white {
    background-color: white;
}
.bg_eee {
    background-color: #eee;
}
.bg_ccc {
    background-color: #ccc !important;
}

.green {
    color: green;
}
.red {
    color: red;
}
.post_unread {
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}
.post_read {
    background: rgba(0,256,0,0.1);
    border: 1px solid green;
}
.pop-up {
    display: none;
    width: 300px;
    max-width: 100%;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
}

 .fa-question-circle.show_popUp, svg.fa-question-circle {
      cursor: pointer;
  }

  .line_height_61 {
      line-height: 61px;
  }
  .line_height_45 {
    line-height: 45px;
   }

   .color_grey {
        color: rgb(137, 137, 137);
   }

@media (max-width: 576px) {  
   .col-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
   }
}
@media (min-width: 576px) {
    .col-sm-49 {
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
    }
}
@media (min-width: 768px) {
    .col-md-32 {
        -ms-flex: 0 0 32.333%;
        flex: 0 0 32.33%;
        max-width: 32.33%;
    }
}
@media (min-width: 992px) {
    .col-lg-24 {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
        max-width: 24%;
    }
}
@media (min-width: 1200px) {
    .col-xl-19 {
        -ms-flex: 0 0 19%;
        flex: 0 0 19%;
        max-width: 19%;
    }
}

button {
    cursor: pointer;
    
}

pre {
    font-family: inherit;
    font-size: inherit;
}

.hidden {
    display: none;
}