/* @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');
 */
html {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    overflow: auto;
}
body, form {
    height: 100%;
    width: 100%;
    font-family: Montserrat, sans-serif;
    background: inherit;
}
header {
    height: auto;
    padding: 20px;
    text-align: center;
    background: #F8FAFF;
    overflow: hidden;
}
.form_template main {
    height: calc(100% - 81px);
}
main {
  /*   height: calc(100% - 90px); */
  position: relative;
}
p.modal_form_group_danger {
	margin: 5px;
    color: #e3342f!important;
}

#editor-container {
    height: 100%;
    
    float: left;
}
#template-container {
    height: 100%;
    float: left;
    padding: 0;
    display: block;
    overflow: auto;
    margin: auto;
   
}
.btn-back, .btn-submit {
    font-family: Montserrat, sans-serif;   
    border: 1px solid #E0E8FF;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 600;
    font-size: 0.625rem;
    text-align: center;
    float: right;    
    padding: 10px 40px;
   
}

.btn-back {
    background: #F3F6FF;
    color: #1594F0;
    margin-right: 15px;
}

.btn-submit {
    background: #1594F0;
    color: #FFFFFF;
}
.btn-submit:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-back:hover {
    background-color: #0069d9;
    border-color: #0069d9;
    color: white;
    text-decoration: none;
}
.unlayer.container {
    float: right;
    width: 425px;
}

.form_sequence h3 {
    width: calc(100% - 425px);
    float: left;
}
.campaign_set   {
    clear: both;
    overflow: hidden;
    font-size: 0.75rem;
    padding: 10px;
    padding-bottom: 0;
}

.campaign_set label {
    display: block;
}
.campaign_subject, .campaign_order {
    margin-bottom: 5px;
}
.campaign_set input, .campaign_set select {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    outline-color: inherit;
    padding: 0 15px;
    font-weight: 600;
    font-size: 0.75rem;
    color: #1594F0;
    height: 35px;
    line-height: 35px;
    float: left;
    max-width: 100%;
}
.select2 span.selection, .select2 span.select2-search {
    display: block;
}

.select2-selection{
    background-position: 98%;
    background-color: white;
    width: 100%;
    min-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid rgb(204 204 204);
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    color: #606060;
    padding-left: 10px;
    padding-right: 15px;
}

.select2-container:not(.select2) {
    box-shadow: 3px 0 6px rgb(0 0 0 / 15%), -3px 0 6px rgb(0 0 0 / 15%);
    margin-left: 0;
    margin-top: 30px;
    background: white;
    z-index: 3;
    max-height: 180px;
    overflow: auto;
}
.select2-search__field {
    border: none;
    width: 100%;
}
.select2 span.select2-selection--multiple {
    height: auto;
}
textarea.select2-search__field {
    resize: none;
}
span[aria-hidden=true] {
    font-size: 20px;
}
.select2 span:not(button >span) {
    overflow: hidden;
    display: inline-block;

}
.select2-selection__choice {
    display: flex;
}
.select2-selection__choice__remove {
    border: none;
    background: inherit;
}
.select2-selection__choice__display {
    line-height: 38px;
}
.select2-search__field {
    line-height: initial;
    padding: 0 10px;
    height: auto;
    min-height: 30px;
    width: 100% !important;
    margin: 0;
}
.select2-results__options {
    background-color: white;
    padding: 0 10px;
    font-size: 0.75rem;
    font-weight: 400;
    max-height: 300px;
    overflow: auto;
    border-top: 1px solid #ccc;
}
.select2-results__option.select2-results__option--selectable {
    list-style: none;
    padding: 3px 0;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: inherit;
}

.select2-container {
    background: white;
}

.select2-selection__rendered {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    align-self: center;
    text-indent: 5px;
    text-align: left;
}
.select2-selection__choice {
    height: 100%;
}
.campaign_set input.schedule_date {
    margin-right: 15px;
    display: none;
}
.campaign_set input[name=subject] {
    width: 100%;
}
.campaign_order>label:first-child {
    width: 100%;
}
.campaign_order input[type="radio"], .campaign_order>label.order_label {
    float: left;
    height: 35px;
    line-height: 35px;
}
.campaign_order>label.order_label {
    margin-right: 20px;
    padding-left: 5px;
}
/* input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
} */

#interval {
	/* display: none; */
}

#interval > .input_interval {
	width: 100px;
	float: left;
	margin-right: 20px;
}

 #interval > .select_period {
	width: auto;
    float: left;
}

label.label_custom_interal, label.label_schedule {
    display: block;
    width: 100%;
}
label.schedule_set {
    height: 35px;
    line-height: 35px;
    height: 35px;
    line-height: 35px;
    float: left;
    margin: 0 10px;
}
.pop-up {
    display: none;
    width: 300px;
    max-width: 100%;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: -40px;
    left: 50%;
    background: #fff;
    transform: translateX(-50%);
}
@media screen and (max-width: 1170px) {
    .unlayer.container {
        width: 351px;
    }
    .form_sequence h3 {
        width: calc(100% - 351px);
    }
}

@media screen and (max-width: 1024px) {
    header {
        padding: 10px;
    }
  
    .form_sequence h3{
        font-size: 1.25rem;
        width: 100%;
    }
    .unlayer.container {
        width: 100%;
        float: none;
        margin-bottom: 15px;
        overflow: hidden;
        
    }
    .btn-back, .btn-submit {
        padding: 5px 20px;
    }
}
#editor{
    background: #F8FAFF;
}

.selectBox {
	position: relative;
}
.selectBox label {
	width: 100%;
	font-weight: bold;
	font-weight: 500;
	font-size: 0.75rem;
	color: #2B2B2B;
	padding: 0;
	margin: 0;
	height: auto;
	background: inherit;
    border: inherit;
    margin-bottom: 10px;
    display: block;
}
.select2-selection textarea {
    min-width: 100%;
    outline: none;
}
.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}
.select2-hidden-accessible {
    display: none;
}

#checkboxes > input[type=search], #checkboxes1 > input[type=search] {
	width: 100%;
    padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
#checkboxes label, #checkboxes1 label {
	display: flex;
    height: 20px;
    line-height: 20px;
    align-items: center;
}

#checkboxes label:hover, #checkboxes1 label:hover {
	background-color: #1e90ff;
}

.col-offset-1 {
    margin-left: 8.3333333333%;
}
.col-offset-2 {
	margin-left: 16.6666666667%;
}
.form-group {
    text-align: left;
    margin-top: 20px;
}
.form-group.title input {
    border-radius: 3px;
    padding: 3px 10px;
    width: 50%;
}
.campaign_set .form-group {
    min-height: 65px;
}
.label_file >span {
    display: block;
    width: 150px;
    height: 36px;
    left: 696px;
    top: 291px;
    background: #1594F0;
    border-radius: 3px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
.label_file >span:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
#file {
    display: none;
}

.template_button {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    /* min-width: 75px; */
    /* max-width: 95px; */
    height: 95px;
    line-height: 20px;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
    cursor: pointer;
    /* transition-duration: 0.15s; */
    /* transition-property: box-shadow; */
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 4px;
    /* float: left; */
    margin: 5px;
    overflow-wrap: break-word;
    padding: 10px;
    float: left;
    overflow: hidden;
    width: 41%;
    
}
.show_temp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    max-width: 50%;
    background: #fff;
    border: 1px solid #1594F0;
    border-radius: 5px;
    padding: 20px;
    max-height: 90%;
    overflow: auto;
}

@media (max-width: 1200px) {
   
    .template_button {
        width: auto;
    }
    #template-container {
        height: auto;
        padding: 20px;
    }
}
@media (max-width: 450px) {
    html {
        height: auto;
        width: auto;
        font-size: 16px;
        font-family: Montserrat, sans-serif;
        overflow: auto;
    }
    body, form {
        height: auto;
        width: auto;
    }
    #editor-container {
        height: 1000px;
        float: none;
        width: 800px !important;
    }
    main.main_campaign {
        height: 1000px;
        /* overflow: hidden; */
        max-height: initial;
        overflow: visible;
        width: auto;
        min-width: 1024px;
    }
}
