.container .noticeboard, .container .posts, .container .calendar {
    overflow: auto;
    scrollbar-width: thin;
}

.container .noticeboard:hover, .container .posts .all_post:hover {
    overflow: auto;
    scrollbar-width: thin;
}

.container .noticeboard {
    height: 100%;
    padding: 0 20px;
    box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15), -3px 0 14px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #ffffff;
 
}

.container .noticeboard>div {
    width: 100%;
    height: auto;
    position: static;
    overflow: hidden;
}

.container .noticeboard>div .notice_show {
    display: block;
    padding: 0 15px;
    position: relative;
    border-bottom: 1px solid rgba(154, 154, 154, 0.3);
    padding-bottom: 10px;
}

.container .noticeboard>div >a:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 15px; 
    border-bottom:1px solid inherit;
  }

.container .posts, .container .calendar {
    padding: 20px 0 0 0;
    overflow: visible;
    height: 60%;
}
.container .posts {
    padding-left: 10px;
}
.container .calendar {
    padding-right: 10px;
}

.container .noticeboard h2 {
    font-weight: 600;
    font-size: 1.375rem;
    color: #071E57;
    line-height: 26px;
    padding-top: 25px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    line-height: 38px;
}

.container .posts .all_post {
    box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15), -3px 0 14px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #071E57;
    border-radius: 3px;
    margin: auto;
    float: right;
    padding: 35px 25px;
    padding-top: 0;
    padding-right: 10px;
    overflow: auto;
    position: relative;
}

.container .posts .all_post > div {
    padding-right: 15px;
    overflow: auto;
    height: auto;
}
.container .posts .all_post h2 {
    padding-top: 35px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    line-height: 26px;
}

.latest_messages .posts .all_post  {
    height: auto;
}

.container .posts .all_post img:not(.placeholder>img) {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.container .posts .all_post .count_coments, .count_request {
    background: #1594F0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 0.5rem;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 4px;
    margin-left: 15px;
    display: inline-block;
}
.count_request {
    position: absolute;
    right: 5px;
}


.container .posts .all_post .post_empl>span, .container .posts .all_post .post_empl>img {
    float: left;
}

.container .posts .all_post .post_empl .post_send {
    font-weight: 700;
    font-size: 0.875rem;
    color: #071E57;
    line-height: 24px;
}
.profile_image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.post_empl .profile_image >img {
    width: 100%;
    height: 100%;
    margin-top: 50%;
    transform: translatey(-50%);
}

.container .posts .all_post article.main_post {
    padding-top: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(154, 154, 154, 0.3);
}

.main_post a {
    width: 100%;
    text-decoration: none;
}
.main_post:hover {
    background-color: #fafafa;
}

.main_post .post_empl >img{
    width: 100%;
    height: auto;
    margin-top: 50%;
    transform: translatey(-50%);
}

.container .posts .all_post .post_empl .post_time {
    font-weight: 600;
    font-size: 0.875rem;
    color: #071E57;
    line-height: 24px;
    float: right;
}

.container .posts .all_post .post_text {
    font-weight: 400;
    font-size: 0.875rem;
    color: #606060;
    width: 100%;
    display: block;
    clear: left;
    padding-top: 7px;
}
.container .posts .all_post .read_post {
    font-weight: 400;
    font-size: 0.875rem;
}
.container .posts .all_post .read_post .read_comment {
    border-radius: 50%;
    padding: 3px 0px;
    margin-right: 2px;
    width: 23px;
    height: 23px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 0.625rem;
}
.noticeboard .notice {
    width: 100%;
    overflow: hidden;
    padding: 15px 0;
}
.noticeboard >div a.notice_show:hover {
    background-color: #fafafa;
}
.noticeboard .notice:not(:last-child) {
    border-bottom: 1px solid rgba(154, 154, 154, 0.3);
}
.notice>div {
    float: left;
    padding: 0;
}
.notice>div:nth-child(2){
    padding-left: 25px;
    max-height: 150px;
    overflow: hidden;
}

.notice>div:first-child span.notice_time {
    font-weight: 600;
    font-size: 1.375rem;
    color: #071E57;
}

.notice>div:first-child span.notice_time>span {
    font-weight: 500;
    font-size: 0.625rem;
    color: #1698F6;
    display: block;
}

.notice>div:first-child span.notice_empl {
    font-weight: 500;
    font-size: 0.5rem;
    color: #919191;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: 20px;
    border-radius: 50%;
     overflow: hidden;
}

.notice>div:first-child span.notice_empl .notice_img {
    width: 100%;
    height: 100%;
    margin-top: 50%;
    transform: translateY(-50%);
}
.notice>div:nth-child(2) span {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 22px;
    color: #606060;
}

.container .calendar>div {
    background: #FFFFFF;
    box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15), -3px 0 14px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    overscroll-behavior-y: contain;
    scrollbar-width: thin;
}

.container .calendar .cal_days {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 30px;
}

.container h2 {
    font-weight: 600;
    font-size: 1rem;
    color: #071E57;
    text-align: left;
}

.container .calendar h2 {
    margin-bottom: 15px;
}

.container h2> a.view_all, .main_absence a.view_all {
    font-weight: 600;
    font-size: 0.8125rem;
    text-align: right;
    color: #606060;
    float: right;
    text-transform: uppercase;
    text-decoration-line: none;
    line-height: 26px;
    margin-right: 20px;
}
.container h2> a.view_all:hover, .main_absence a.view_all:hover {
    color: #999999;
}
.main_absence a.view_all {
    color: white;
}
.container .cal_days p.date {
    float: left;
    width: 64px;
    height: 89px;
    left: 524px;
    top: 581px;
    background: #F8FAFF;
    margin-right: 5px;
    padding: 10px;
}

.container .cal_days p.date .month {
    font-weight: 400;
    font-size: 0.75rem;
    display: block;
    text-align: center;
    color: #7C93CD;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.container .cal_days p.date .day {
    font-weight: 500;
    font-size: 1rem;
    display: block;
    text-align: center;
    color: #7C93CD;
    margin-bottom: 5px;
}

.container .cal_days p.date .week_day {
    font-weight: 500;
    font-size: 0.625rem;
    display: block;
    text-align: center;
    color: rgba(7, 30, 87, 0.5);
    text-transform: uppercase;
    
}

.container .cal_days .date.active {
    background: #1594F0;
    font-weight: 600;
    font-size: 0.75rem;
    color: #FFFFFF;

}

.container .cal_days .date.active .month {
    font-weight: 600;
    color: #FFFFFF;
}

.container .cal_days .date.active .day {
    font-weight: 600;
    color: #FFFFFF;
}

.container .cal_days .date.active .week_day {
    font-weight: 600;
    color: #FFFFFF;
}

.comming_agenda {
    width: 100%;
    padding: 20px 30px 0;
    position: relative;
    overflow: auto;
    max-height: 60%;
}

.comming_agenda .agenda_title {
	font-weight: 600;
    font-size: 0.9375rem;
	color: #071E57;
	width: 100%;
	text-align: left;
	display: block;
    margin-bottom: 10px;
}

.comming_agenda .agenda_mark {
    height: 52px;
    float: left;
    display: block;
    padding: 15px 0;
    width: 2%;
}

.comming_agenda .agenda_mark .green {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #13EA90;
	display: block;
}

.comming_agenda .agenda_mark .orange {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #EA9413;
	display: block;
}

.comming_agenda .agenda_time {
	font-weight: 600;
    font-size: 0.9375rem;
    text-align: center;
    color: #1390EA;
    float: left;
    width: 19%;
    padding: 0 29px 0 17px;
}

.comming_agenda .agenda_time>span {
	font-weight: normal;
	font-size: 0.75rem;
	text-align: center;
	color: #071E57;
	width: 100%;
}

.comming_agenda .agenda_comment {
    font-weight: 500;
    font-size: 0.875rem;
    color: #606060;
    width: 79%;
    text-align: left;
    white-space: inherit;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.comming_agenda .agenda {
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.noticeboard .btn-new {
    margin-left: 30px;
}

.placeholder {
    width: auto;
    max-width: 80%;
    height: auto;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clear: left;
    overflow: hidden;
    background: inherit;
}

.placeholder_span {
    width: auto;
    max-width: 60%;
    height: auto;
    position: relative;
    clear: left;
    overflow: hidden;
    background: inherit;
    display: block;
    margin: auto;
}

.placeholder_span>span {
    width: 100%;
    display: block;
    text-align: center;
}
.placeholder_span>img  {
    display: block;
    margin: 0 auto;
}
.placeholder_span label.add_new {
    float: none;
}
#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 1;
    /* margin: 50%; */
    /* transform: translate(-50%, -50%); */
    top: 50%;
    left: 50%;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);
    }
  }
.comming_agenda .placeholder {
    height: 100%;
    display: none;
    margin: auto;
    position: static;
    transform: none;
}

.comming_agenda .placeholder img {
    max-height: 80%;
    width: auto;
}
.day_events .placeholder >img {
    height: calc(100% - 70px);
}
.day_events .placeholder {
    top: auto;
    left: auto;
    transform: none;
    margin: auto;
    position: static;
    display: block;
}
.all_post .placeholder {
/*     margin-top: 50%;
    margin-bottom: 50%;
    transform: translateY(-50%);
    position: relative;
    top: auto;
    left: auto; */
}
.placeholder_cal {
    height: auto;
    display: none;
    padding: 0 30px;
    overflow: hidden;
    margin-top: -30px;
}
.placeholder_cal>p, .placeholder_cal>img {
    width: 50%;
    float: left;
}
.placeholder p, .placeholder_cal>p {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #D8DCEF;
    margin: 0;
    position: relative;
}

.placeholder_cal>p >span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.placeholder img {
    display: block;
    margin: auto;
    max-height: 100%;
}
.placeholder p label, .index_page .placeholder p label, .index_page.ads_index .index_main .placeholder label {
    width: 21px;	
    height: 20px;
    line-height: 20px;
    padding: 5px;
    display: inline-flex;
    float:none;
    background: #1594F0;
    color: #fff;
    position: initial;
    border: none;
    border-radius: 5px ;
}

.placeholder p label svg {
    width: 11px;	
    height: 11px;
    position: static;
    transform: none;
}

@media (max-width: 1500px) {
    .comming_agenda .placeholder img {
        max-height: 100px;
        width: auto;
    }    
}

@media (max-width: 1024px) {
    .container .calendar>div {
        padding: 10px 0;
        overflow: auto;
        scrollbar-width: thin;
    }
    .placeholder p, .placeholder_cal>p {
        font-size: 0.75rem;
    }
    .comming_agenda {
        padding: 15px;
        padding: 10px 30px;
    }
    .container .noticeboard>div {
        min-height: 150px;
    }
   .container .calendar{
        margin: 0;
        padding: 10px 10px;
    }
    .container .posts{
        margin: 0;
        padding: 10px 10px;
        overflow: auto;
    }
    .all_agenda {
        min-height: 150px;
    }
    .placeholder >img {
       max-width: 60%;
       max-height: 100px;
    }
    .day_events .placeholder >img {
        max-width: initial;
    }
    .placeholder >p:not(.all_agenda .placeholder >p) {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%,100%);
        width: 100%;
        font-size: 0.75rem;
    }
    .index_page.ads_index  .placeholder >img {
        position: static;
        width: 100%;
        transform: none;
    }
   
}
@media (max-width: 992px) {
    .container .calendar{
        margin: 0;
        padding: 10px 10px;
        height: auto;
        flex: 0 0 auto;
    }
    .container .posts{
        height: auto;
        flex: 0 0 auto;
    }
}
@media (max-width: 768px) {
    .posts_index .posts {
        height: auto;
    }
    .container .noticeboard, .container .posts, .container .calendar {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .container .calendar>div, .container .noticeboard>div {
		margin: auto;
    }
    .container .calendar>div {
        height: auto;
        overflow: hidden;
    }
    .placeholder, .placeholder_cal {
        display: none;
        position: static;
        top: auto;
        left: auto;
        transform: none;
        margin: 20px auto;
        width: 70%;
    }
    .all_documents .placeholder {
        position: static;
    
    }
    .placeholder_cal {
        width: 100%;
    }
    .placeholder >img {
        width: auto;
        position: static;
        transform: none;
        margin: auto;
        display: block;
    }
    .placeholder >p {
        position: static;
        transform:none;
        width: 100%;
        font-size: 0.75rem;
    }
    
}

@media (max-height: 800px) {
    .container .noticeboard h2 {
        font-size: 1.125rem;
        padding-top: 25px;
    }
}
@media (min-width: 768px) and (max-height: 600px) {

    .header_user_go p>span:first-child {
        margin: 0;
    }
	
	.topnav, .container .noticeboard {
		width: 100%;
		max-width: 100%;
		height: auto;
		padding: 0 25px;
		margin: 20px;
	}
	.container .posts, .container .calendar {
		width: 50%;
		max-width: 50%;
		padding: 10px;
		height: auto;
	}
	.container .posts .all_post {
		float: none;
    }
    
}
@media (max-width: 450px) {
    .container .noticeboard h2 {
		padding-top: 0;
    }
    .comming_agenda {
        height: auto;
        min-height: 100px;
        padding: 10px;
    }
    .comming_agenda .placeholder {
        height: auto;
	}
    .container .noticeboard, .container .posts, .container .calendar, .container .calendar>div {
        height: auto;
        width: 100%;
    }
    .container .noticeboard, .container .posts, .container .calendar {
        margin: 0;
        box-shadow: none;
        padding-bottom: 10px;
    }
    .container .noticeboard>div {
        background: #FFFFFF;
        box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15), -3px 0 14px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        width: 100%;
        height: auto;
        margin: auto;
        padding: 15px;
        padding-left: 10px;
        position: relative;
        overflow: hidden;
        overscroll-behavior-y: contain;
    }
    .notice>div:first-child span.notice_time {
        font-size: 1rem;
    }
    .comming_agenda .agenda_comment {
        float: right;
        padding-left: 20px;
    }
    .comming_agenda .agenda_mark, .container .posts .all_post {
        height: auto;
        margin: auto;
    }    
    .container .noticeboard, .container .posts, .container .calendar{
        height: auto;
        padding: 10px;
        padding-top: 20px;
        margin-top: 20px;
        width: 100%;
        max-width: 100%;
        float: none;
        margin: auto;
    }
    .container .calendar>div, .container .posts .all_post {
        width:100% ;
        padding: 10px 0;
    }
    .container .calendar>div {
		height: auto;
		padding-top: 0;
	}
    .container .calendar h2, .container .calendar .cal_days, .comming_agenda {
        padding: 0 10px;
        line-height: 26px;
    }
    .placeholder_cal>p, .placeholder_cal>img {
        float: none;
        margin: auto;
        display: block;
    }
    .placeholder_cal>p {
        width: 100%;
    }
    .placeholder_cal {
        margin-top: 0;
    }
    .all_documents .placeholder, .index_page.ads_index .placeholder  {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }
}

@media (max-height: 650px) and (min-width: 450px) {
	
	.container .noticeboard h2 {
		padding-top: 25px;
		font-size: 1.125rem;
    }
    .info .layout_button {
		scroll-padding-top: 10px;
	}
	.container .calendar>div, .container .posts .all_post h2 {
		padding-top:10px
    }
    .container .posts .all_post {
        padding: 0 10px 10px 10px;
    }
  
}
@media (max-width: 992px) {
    .container .posts .all_post .count_coments, .count_request {
        right: -15px;
        top: -15px;
    }
    .notices_list {
      
        overflow: hidden;
    }
    .placeholder {
        max-height: 150px;
      
    }
}