
a {
	color:inherit;
	display: inline-block;
}

a:hover, button:hover {
	cursor: pointer;
}

img{
	max-width: 100%;
	/* max-height: -webkit-fill-available; */
}

table {
	font-size: 0.75rem;
}
.table-responsive table.dataTable {
	border-bottom: 1px solid rgba(154, 154, 154, 0.3);
}
table thead tr {
	font-size: 0.625rem;	
}

table.dataTable thead th, table.dataTable thead td{
	padding-top: 15px;
	border: none;	
}

.disable {
	pointer-events: none;
   	cursor: default;
}
.header_nav {
    background: #071E57;
    color: #ffffff;
    padding: 0 30px;
	width: 100%;
	height: 92px;
    z-index: 0;
}
aside.side_nav {
	float: left;
    height: 100%;
    width: auto;
    min-width: 100px;
    overflow: hidden;
    /* max-width: max-content; */
    display: block;
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
	background: white;
	box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15);
}
.nav_top.topnav {
	height: auto;
	padding: 0;
	overflow: hidden;
	margin: auto 0;
  }
.button_nav {
   /*  min-width: 190px;
    height: 81px;
	background: #051847;
	display: block;
	margin-bottom: 30px;
	color: inherit;
	line-height: 81px;
	padding-left: 23px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 0.75rem;
	position: relative; */
	min-width: auto;
    height: 81px;
    background: white;
    display: block;
    margin-bottom: 0;
    color: inherit;
    line-height: initial;
    padding-left: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    position: relative;
}

.button_nav:hover {
	color: #071e57;	
}

.nav_ul a {
    display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	position: relative;
}

.nav_ul a.icon {
	color: #A7BBEE;
    display: inline-block;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.nav_top img {
	min-height: 25px;
	max-width: 140px;
	max-height: 80px;
	text-align: center;
	position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%);
}
.nav_ul.float_right a img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header_nav .topnav .icon>svg {
	margin: 0;
	padding: 0;
	margin-top: 50%;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	width: 19px;
	height: 19px;
	color: #A7BBEE;
}
.header_nav img.img_button, .header_nav i, .header_nav svg {
	max-width: 28px;
    margin-right: 25px;
	font-size: 22px;
	margin: 0;
}

ul.nav_ul.float_right li {
    float: left;
    width: 32px;
    height: 32px;
	background-color: #051847;
    border-radius: 3px;
	margin-left: 12px;
	line-height: 32px;
	text-align: center;
	display: flex;
}

ul.nav_ul.float_right {
	list-style: none;
	margin: 0;
	padding: 30px 0;
}

ul.nav_ul.float_right li img {
	margin: 0;
}

.nav_ul a:hover {
    background-color: inherit;
    color: #051847;
}

.user_header {
    height: auto;
    position: relative;
    color: #071E57;
	text-align: center;
	padding: 0;
    z-index: 2;
    float: left;
}

.logo_icon {
	cursor: pointer;
    float: left;
	height: 100%;
    line-height: 32px;
	display: block;
	/* padding: 5px 0; */
	padding: 35px 0;
	
}
.logo_icon>svg.svg-inline--fa.fa-w-14 {
	color: #fff;
	width: 30px;
	float: left;
	margin: 0;
}
.header_nav .section_top_nav {
	clear: left;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	float: left;
    height: 100%;
    width: 0;
    overflow: hidden;
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
	background: white;
	box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15);
	transition: width 1s;
}

  .topnav#myTopnav {
	  background-color: white;
	  padding: 0 20px;
	  overflow: auto;
	  width: 0;
	  display: none;
	  transition: display 0.5s;
	  transition-delay: 5s;
	  height: calc(100% - 92px);
	  margin-top: 50%;
	  margin-bottom: 50%;
}
  
.section_top_nav .close_topnav {
	color: rgba(96, 96, 96, 0.6);
    transition: 0.3s;
    display: flex;
    padding: 0;
    width: 100%;
    padding: 0 30px 0 30px;
    height: 92px;
    line-height: 92px;
    position: relative;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center;
}
.section_top_nav .close_topnav>img {
	max-height: 90%;
    max-width: 80%;
}
.header_nav .section_top_nav .close_topnav svg {
	margin: 0;
	float: right;
	cursor: pointer;
	font-size: 25px;
	max-width: 20%;
	display: none;
	position: absolute;
    right: 15px;
    top: 15px;
}

.topnav.nav_top  a {
	float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(96, 96, 96, 0.6);
    overflow: hidden;
    height: 100%;
    padding-left: 30px;
    line-height: 92px;
    text-align: center;
    display: inline-block;
}
  .topnav>a:first-child {
	padding-left: 30px;
  }
  .topnav a:hover {
	color: #ccc;
	background-color: inherit;
  }
  
  .topnav a.active {
	background-color: inherit;
	color: #071e57;
	overflow: hidden;
  }
  
  .topnav ul.nav_ul.float_right li.icon {
	display: none;
  }
  
  .topnav>div {
	padding: 0 10px;
    height: auto;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
  }
 
.user_header .info {
	box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15), -3px 0 14px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: auto;
    background: #ffffff;
    color: #071E57;
    border-radius: 3px;
    z-index: 1;
    margin: auto;
    float: right;
}

.user_header .info>div {
	padding: 35px 40px 35px;
    height: 100%;
    background: #ffffff;
    width: calc(75% + 15px);
    overflow: hidden;
    max-width: calc(75% + 15px);
}

.user_header .info>div:first-child {
	background: #F8FAFF;
	padding: 35px 0;
	width: calc(25% - 17px);
	border-radius: 3px;
}

.image_prof {
	width: 110px;
    height: 110px;
    border-radius: 50%;
    display: inline-block;
	overflow: hidden;
}

.user_header .image_prof>img {
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    transform: translatey(-50%);
    max-width: max-content;
    width: 100%;
    max-height: max-content;
}

.user_header .info div h2 {
	font-weight: 600;
	font-size: 1.5625rem;
	margin-bottom: 5px;
}

.user_header .info>div:first-child p {
    font-weight: 500;
    font-size: 0.8125rem;
	text-align: center;

}

.header_user_go {
	overflow:hidden;
	margin-top: 10px;
}
.header_user_go p>span {
    width: 100%;
    display: block;
}

.header_user_go p {
	width: 50%;
	float: left;
	margin: 20px 0 0;

}
.header_user_go p>span {
	width: 100%;
}
.header_user_go p>span:first-child {
	font-weight: 500;
	font-size: 1.875rem;
	align-items: center;
	text-align: center;
	color: #071E57;
	margin: 15px 0 10px;
}
.header_user_go p>span:last-child {
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 12px;
	align-items: center;
	text-align: center;
	color: #1390E9;
	padding: 0 20px;
	padding-bottom: 20px;
}

.user_header .info .header_user_go p:first-child {
	border-right: 1px solid #ccc;
}

.salary {
	position: relative;
}

.salary>div {
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    padding: 20px 0;
	height: auto;
}

.salary>div:first-child {
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	height: 58%;
}

.salary .efc p {
	float: left;
	font-weight: 500;
	font-size: 0.9375rem;
	color: #1390E9;
	padding: 0;
	margin-bottom: 5px;
	width: 100%;
}

.salary p>span.salery_hidden {
	display: block;
}

.salary p>span {
	font-weight: 500;
	font-size: 2rem;
	color: #071E57;
	display: none;
	padding-bottom: 5px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.salary p>span:hover {
	overflow: visible;

}

.user_header .info .salary .event  {
	color: #CBD8F9;
	font-weight: 500;
}

.user_header .info .salary .event .comming_event {
	width:13.1%;
	float: left;
	margin-right: 1.16%;
	background: #F8FAFF;
	padding: 15px 10px;
}
.user_header .info .salary .event .comming_event > span {
	display: block;
	
}

.user_header .info .salary .event .comming_event .event_name {
	font-size: 0.5rem;
	padding-bottom: 80px;
	
}

.user_header .info .salary .event .comming_event .event_day {
	font-size: 1.875rem;
	font-weight: 400;
}

.user_header .info .salary .event .comming_event .event_month {
	font-size: 0.75rem;
}

.comming_event .elipse {
	clear: left;
	float: none;
	line-height: 10px;
	text-align: left;
	padding-left: 5px;
}
   

.comming_event span.event_orange, .comming_event span.event_green, .comming_event span.event_blue  {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	display: inline-block;
}

.comming_event .event_green {
	background: #13EA90;
}
.comming_event .event_orange {
	background: #EA9413;
}
.comming_event .event_blue {
	background:#1390EA;
}

.user_header .info .salary .event {
	padding:0;
	padding-top: 35px;
}


.side_navbar {
	height:100%;
	background: #333;
	color: white;
}

.navbar-default {
	margin-bottom:0;
}

.page-header {
	margin: 20px 0 20px;
    font-weight: 600;
    font-size: 18px;
}
.container {
	padding: 80px 30px 30px;
	overflow: auto;
	scrollbar-width: thin;
	
}

.side_navbar a {
	color: inherit;
}

.side_navbar .navbar-nav>li {
	display: block;
    width: 100%;
}

.nav>li>a:hover {
	background-color: #777;
	border: 1px solid #999;
	border-radius: 5px;
}

.nav>li>a:focus {
	
	background-color:inherit;
}*/

.side_navbar .navbar-brand {
	min-height: 50px;
	height: auto;
	width: 100%;
    text-align: center;
}

.navbar-header .navbar-brand {
	padding: 5px;
}

.navbar-header img {
	color: white;
	max-height:100%;
}

.side_navbar .navbar-brand img {
	color: white;
	max-width:200px;
	padding: 20px;
	color: white;
    max-width: 200px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.navbar-default .navbar-nav>li.active>a{
	color: #f68422;
}

.center {
	 text-align: center;
}
.right {
	text-align: right;
}


.danger {
	color: red !important;
}
.btn-finish {
	color:green;
}
input.staz {
    width: 50px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

tbody td svg {
	margin: 5px;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.padd_l_10 {
	padding-left: 10px;
}

.padd_l_20 {
	padding-left: 20px;
}
.padd_l_30 {
	padding-left: 30px;
}

.bold {
	font-weight: bold;
}

.note-editable {
    height: 200px;
}

textarea {
	width: 100%;
	max-width:100%;
}

#index_table tbody td p>img {
	display: none;
}

input[type=file] {
    display: inline-block;
}

.upload form {
	line-height: 25px;
	clear: left;
    overflow: hidden;
}

.upload form .form-group {
	float: left;
	padding: 0 20px;
	line-height: 25px;
	margin:0;
}
.upload form .form-group .djelatnik {
	padding: 5px 10px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 100%;
}

.panel-footer.ad {
	overflow:hidden;
	text-align: right;
	font-size: 13px;
}

.input_search {
	width: 45%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter {
	height: 100%;
    display: block;
    position: relative;
}

.filter select {
	width: 45%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
	margin-left: 10px;
}

.time_label {
	width: 100%;
}

.form-group.time, .form-group.span {
	float: left;
}


.form-group.time {
	width: 45%;
}


.form-group.span {
	width: 10%;
	line-height: 34px;
	text-align: center;
}

span.line_btn {
	line-height: 81px;
    position: relative;
    display: inline-block;
    position: absolute;
    bottom: -5px;
	left: 0;
	
}

span.count_comment{
    background: #1594F0;
    color: white;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
	margin-left: 20px;
	position: absolute;
    left: 0;
	bottom: 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 8px;
}

span.count_post1{
    background: #1594F0;
    color: white;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
	margin-left: 20px;
	position: absolute;
    left: 0;
	top: 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 8px;
	border: 1px solid red;
}

#index_table span.count_comment {
    position: relative;
    bottom: 3px;
}

span.count_post {
    height: 25px;
	text-align: center;
    line-height: 25px;
	margin: 0 20px;
    color: red;
    padding: 5px 10px;
    border-radius: 16px;
    border: 1px solid red;
    font-size: 12px;
}

.nav .count_comment {
	background: white;
    color: black;
}

.efc_show, .efc_hide {
	position: absolute;
	right:60px;
	top:20px;
	font-weight: 600;
	font-size: 0.625rem;
	align-items: center;
	color: #2B2B2B;
	z-index: 1;
	
}

.efc_show:hover, .efc_hide:hover {
	cursor: pointer;
} 

.efc_show {
	display: block;
}
.efc_hide {
	display: none;
}
.user_header .efc_show img, .user_header .efc_hide img {
	color: #2B2B2B;
    width: 8.4px;
    display: inline;
    height: auto;
    margin-left: 5px;
}

.efc{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	height: 30.42%;
}

.info .layout_button {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0;
	height: 74.5%;
	overflow-wrap: break-word;
}

.info .layout_button >button {
	
    height: 180px;
    width: 23%;
    background: #F4F7FF;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 16px;
    text-align: center;
    padding: 20px 10px;
    color: #071E57;
}

.info .layout_button >button>a {
	text-decoration: none;
	padding: 0;
	margin: auto;
    width: 100%;
    height: auto;
    display: block;
	color: #071E57;
	box-sizing: border-box;
}
.info .layout_button >button>a >span {
	overflow: hidden;
	display: block;
	margin: auto;
	padding: 0;
}
.info .layout_button >button>a p {
	margin-bottom: 0;
}
.info .layout_button >button>a:hover {
	box-sizing: border-box;
}
.info .layout_button >button:not(:last-child) {
	margin-right: 10px;
}

.layout_button span.img {
	width: 65px;
	height: 65px;
	display: block;
	margin: auto;
	margin-bottom: 15px;
	display: block;
}

span.img.beach {
	background: url('../icons/beach.png') no-repeat;
}

span.img.overtime {
	background: url('../icons/overtime.png') no-repeat;
}

span.img.sick {
	background: url('../icons/sick.png') no-repeat;
}

span.img.car {
	background: url('../icons/car.png') no-repeat;
	background-size:  65px 65px;
}
span.img.task {
	background: url('../icons/task.png') no-repeat;
	background-size:  65px 65px;
}
span.img.travel {
	background: url('../icons/suitcase.png') no-repeat;
	background-size:  65px 65px;
}
span.img.fuel {
	background: url('../icons/fuel-pump.png') no-repeat;
	background-size:  65px 65px;
}
span.img-success {
	background: url('../icons/success.png') no-repeat;
	width: 131px;
	height: 131px;
	margin-top: 10px;
	margin-bottom: 60px;
	margin: auto;
    display: block;
}

span.img-error {
	background: url(../icons/error.png) no-repeat center;
    width: 131px;
    height: 140px;
    margin-top: 10px;
    margin-bottom: 60px;
    margin: auto;
    display: block;
}

.layout_button span.img.all_req {
	width: 95px;
	max-width: 100%;
	height: 95px;
	background: rgba(238, 242, 255, 0.8);
	border-radius: 50%; 
	position: relative;
	margin-bottom: 0;
}

.layout_button span.img.all_req p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button_nav span.button_nav_img  {
	min-width: 28px;
	min-height: 28px;
	background-position: center;
	float: left;
	height: 70px;
	line-height: 70px;
	opacity: 0.6;
}

.button_nav p.button_nav_text {
	float: left;
    margin-left: 20px;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 28px;
    color: rgba(96, 96, 96, 0.6);
	padding: 0;
    line-height: 70px;
}  

.button_nav p.button_nav_text:hover {
	color: #6a789a;
}

.button_nav.active p.button_nav_text {
	color: #6a789a;
	font-weight: 700;
}

.logo_icon p.button_nav_text {
	display: none;
    margin-bottom: 0;
	text-align: left;
}

.logo_icon p.button_nav_text >img {
	max-width: 150px;
	max-height: 35px;
}
span.button_nav_img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px;
}

span.button_nav_img.documents {
	background: url('../icons/documents_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.calendar {
	background: url('../icons/calendar_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.employees {
	background: url('../icons/employees.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.questionnaire {
	background: url('../icons/list_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.ads {
	background: url('../icons/ads_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.messages {
	background: url('../icons/messages_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.arrow_dashboard {
	background: url('../icons/dashboard_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.benefits {
	background: url('../icons/benefits_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.campaign {
	background: url('../icons/campaign_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}
/* hover */
.posts_button:hover span.button_nav_img.messages {
	background: url('../icons/messages_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}
.button_nav:hover p.button_nav_text {
	color: #6a789a;
}
.documents_button:hover span.button_nav_img.documents {
	background: url('../icons/documents_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.events_button:hover span.button_nav_img.calendar {
	background: url('../icons/calendar_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.questionnaires_button:hover span.button_nav_img.questionnaire {
	background: url('../icons/list_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.oglasnik_button:hover span.button_nav_img.ads {
	background: url('../icons/ads_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}


.dashboard_button:hover span.button_nav_img.arrow_dashboard {
	background: url('../icons/dashboard_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.benefits_button:hover span.button_nav_img.benefits{
	background: url('../icons/benefits_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.campaigns_button:hover span.button_nav_img.campaign{
	background: url('../icons/campaign_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

/* active status */
.button_nav.active span.button_nav_img.documents {
	background: url('../icons/documents_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.calendar {
	background: url('../icons/calendar_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.questionnaire {
	background: url('../icons/list_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.ads {
	background: url('../icons/ads_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.messages {
	background: url('../icons/messages_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.arrow_dashboard {
	background: url('../icons/dashboard_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.benefits {
	background: url('../icons/benefits_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.campaign {
	background: url('../icons/campaign_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}
.index_absence .header_absence {
	font-weight: 600;
	font-size: 1.125rem;
	color: #F8FAFF;
}

.note-modal-content {
    overflow: hidden;
}

.note-modal-footer {
	height: auto !important;
	overflow: hidden;
}
.note-modal-content .note-modal-footer .note-btn, .note-modal-content .note-modal-footer .note-image-btn,  .note-modal-content .note-modal-footer .note-video-btn  {
	margin-bottom: 20px;
	margin-right: 20px;
}

.layout_button button:hover, .layout_button button:active {
	border: 1px solid #1594F0;

}

table.table_fuel, table.table_service {
	width: 98%;
}
table.table_fuel .no-data, table.table_service .no-data {
	text-align: center;
}

table.table_fuel th, table.table_fuel td {
	width: 25%;
	padding: 5px;
	border: 1px solid #ccc;
}

table.table_service th, table.table_service td {
	padding: 5px;
	border: 1px solid #ccc;
}


 table.table_service th:nth-child(3), table.table_service td:nth-child(3)   {
	width: 15%;	
}
table.table_fuel th, table.table_service th  {
	text-align: center;
}
table.table_fuel td {
	text-align: right;
}

table.table_service td{
	text-align: right;
}

table.table_service td:nth-child(4), table.table_service td:nth-child(5) {
	text-align: left;
}

.label_file >span {
	display: block;
	width: 150px;
	height: 36px;
	left: 696px;
	top: 291px;
	background: #1594F0;
	border-radius: 3px;
	margin-top: 15px;
	font-weight: 600;
	font-size: 10px;
	line-height: 36px;
	color: #FFFFFF;
	text-align: center;
}

.label_file >span >img {
	margin-right: 20px;
}
.box.is-uploading .box__input {
	visibility: none;
}
.box.is-uploading .box__uploading {
	display: block;
}
.box.is-dragover .label_file {
	background-color: grey;
}
.box__dragndrop, .box__uploading, .box__success, .box__error {
	display: none;
}
.box.has-advanced-upload {
 /*   background-color: white;
	outline: 2px dashed black;
	outline-offset: -10px;*/
}
.box.has-advanced-upload .box__dragndrop {
	display: inline;
}

.modal.upload .label_file {
	height: 191px;
	width: 646px;
	max-width: 100%;
	border: 2px dashed #1594F0;
	border-radius: 3px;
	position: relative;
	padding: 15px;
	cursor: pointer;
}
.modal.upload .label_file>input#file_upload {
	width: 100%;
	height: 100%;
	display: inline-block;
}
.modal.upload .label_file>p {
	margin-bottom: 5px;
}
.modal.upload form .form-group {
	float: none;
	margin-bottom: 30px;
	padding: 0;

}
.modal.upload span.img_plus {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background: #F8FAFF url(/../icons/plus.png) no-repeat center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-65%, -50%);
}
.modal.upload span.text_upload {
	font-weight: 600;
	font-size: 1.25rem;
	color: #1594F0;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-40%, -50%);
	display: inline;
	width: auto;
	padding-right: 10px;
	background: inherit;
}

.profile_img>a.danger:not([href]):not([tabindex]) {
	color: #ccc;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 0;
    background: #fff;
    border-radius: 50%;
	width: 24px;
	height: 24px;
    line-height: 24px;
	text-align: center;
	margin-right: 3px;
    margin-top: 3px;
}

.profile_images span.profile_img {
	position: relative;
	margin-right: 5px;
	max-width: 25%;
    max-height: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.slide_show_open {
	display: inline-block;
}

@media screen and (min-width: 1500px){
	.input_search, .filter select{
		width: 20%;
	}
}

@media screen and (min-width: 800px){
	.input_search, .filter select{
		width: 30%;
	}
}

@media (max-width: 1300px) {
	.button_nav {
		padding: 10px 0;
		min-width: auto;
		height: auto;
	}
	span.button_nav_img {
		position: relative;
		transform: none;
		left: 0;
		top: auto;
		bottom: auto;
	}
	
	.topnav a.active {
		margin: auto;
		height: auto;
	
	}
	
	.topnav a > p {
		line-height: initial;
		margin: 0;
		padding-top: 10px;
	}
	.user_header .info div h2 {
		font-size: 1.25rem;
	}
	.info .layout_button >button {
		font-size: 0.75rem;
		height: 130px;
	}
	div.topnav>div:nth-child(odd) {
	
		clear: left;
	}
	.salary p>span {
		font-size: 1.5rem;
	}
	.salary .efc p {
		font-size: 0.8125rem;
	}
	.header_user_go p>span:first-child {
		font-size: 1.5rem;
	}
	.header_user_go p>span:last-child {
		padding: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 0.688rem;
	}
	.user_header {
		height: auto;
		
	}
	.user_header .info>div:first-child, .user_header .info>div {
		padding: 10px;
	}
	.efc_show, .efc_hide {
		right: 10px;
		top: 5px;
	}
}

@media (max-width: 1024px) {
	body>section {
		height: auto;
	}
}

@media (max-width: 992px) {
	.layout_button span.img.all_req {
		background: inherit;
	}
	.side_navbar {
		height: auto;
	}
	.info .layout_button {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.layout_button>button>a>span>p{
		display: none;
	}
	.info .layout_button >button {
		width: 21%;
		max-width: 21%;
		margin: 5px;
	}
	.layout_button span.img {
		width: 45px;
		height: 45px;
	}
	span.img.car {
		background-size: 45px 45px;
	}
	span.img.sick, span.img.beach, span.img.overtime{
		background-size: 45px 45px;
		margin-bottom: 5px;
	}
	.layout_button span.img.all_req {
		width: 45px;
		height: 45px;
		margin-bottom: 5px;
	}
	.header_user_go p>span:last-child {
		display: none;
	}
	.user_header .info>div:first-child {
		padding-bottom: 35px;
	}
}

@media (max-width: 768px){
	.user_header {
		position: relative;
		width: 100%;
		max-width: 100%;
		height: auto;
		padding: 0;
		float: none;
		clear: left;
		margin: auto;
		margin-top: 10px;
		top: 0;
		overflow: hidden;
		right: 0;
		padding: 9px;
	}
	.user_header .info {
		width: 100%;
		float: none;
		clear: both;
		overflow: hidden;
	}
	
	.user_header .info, .user_header .info>div, .info .layout_button, .container .calendar>div {
		height: auto;
	}
	.salary>div {
		padding-bottom: 10px;
	}
	.info .layout_button {
		scroll-padding-top: 10px;
	}
}

@media (max-width: 450px) {
	.logo_icon {
		display: none;
	}
	.container {
		height: auto;
		padding: 0 10px;
	}
	.topnav.nav_top a {
		line-height: 50px;
		padding-left: 0;
	}
	ul.nav_ul.float_right {
		padding: 9px 0;
	}
	.nav_top img {
		max-height: 40px;
		max-width: 30%;
	}
	.container .calendar>div {
		height: auto;
		width: 98%;
		margin-bottom: 14px;
	}
	.container div.user_header {
		height: fit-content;
		/* width: 100%; */
		/* max-width: 100%; */
		/* height: auto; */
		/* top: 0; */
		/* color: #071E57; */
		/* text-align: center; */
		/* padding: 0; */
		/* right: 0; */
		/* position: relative; */
		/* margin:0; */
		/* padding: 10px; */
		/* left: 0; */
		/* right: 0; */
		/* transform: none; */
	}
	.button_nav.active p.button_nav_text {
		
		height: 28px;
		line-height: 28px;
	}
	.container .noticeboard, .container .latest_survey {
		height: auto;
		padding: 20px;
		max-width: 100%;
    	float: none;
	}
	.container>.posts, .container .latest_survey {
		padding: 0;
	}
	.container .posts, .container .calendar {
		height: auto;
		padding-top: 20px;
		max-width: 100%;
		float: none;
	}
	.container>.posts .all_post {
		float: none;
		padding: 20px;
		width: 98%;
		height: auto;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	body section {
        height: auto;
		
	}
	
	.user_header .info>div {
		padding: 10px 0;
		margin-bottom: 10px;
	}
	.info .salary p {
		width:100%;
		max-width: 100%;
		float: none;
		overflow: unset;
		display: inline;
	}
	.info .salary p.agenda {
		display: block;
		overflow: auto;
		scrollbar-width: thin;
		
	}
	
	.topnav.responsive .icon {
		background: inherit;
	}
	.topnav .icon>svg {
		margin-right: 5px;
	}	
	.topnav a.icon:hover {
		background: inherit;
	}
	.salary p.agenda>span {
		white-space: initial;
	}
	.user_header .info>div {
		height: 100%;
	}
	.user_header .info .salary .event {
		padding-top: 0;
	}
	.info .layout_button >button {
		width: 45%;
		max-width: 45%;
		margin:5px;
	}
	.header_nav .section_top_nav {
		height: auto;
		position: static;
		width: 100%;
		background: inherit;
		box-shadow: none;
		display: none;
	}
	.header_nav .section_top_nav.responsive {
		display: block;
		background: white;
		position: fixed;
		top: 50px;
		bottom: 0;
		overflow: hidden;
		z-index: 1;
	}
	.section_top_nav.responsive .close_topnav {
		display: none;
	}
	.header_nav .section_top_nav .button_nav p.button_nav_text {
		display: block;
		height: auto;
		line-height: 28px;
	}
	.button_nav span.button_nav_img {
		height: auto;
		line-height: normal;
	}
    .header_nav .topnav#myTopnav {
		max-width: 100%;
		margin: 5px 0;
		display: block;
		width: auto;
	}
	#admin_page .index_table_filter {
		padding: 0;
	}
	.topnav.responsive >div {
		padding: 0;
	}
	.button_nav {
		height: auto;
		/* line-height: 60px; */
		float: none;
		clear: both;
		overflow: hidden;
		margin: 0;
		padding: 10px 0;
	}
	
	.user_header .info {
		float: none;
		height: auto;
		margin: auto;
		box-shadow:none;
		margin: 0;
		width: 100%;
		box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15), -3px 0 14px rgba(0, 0, 0, 0.15);
		border-radius: 3px;
	}
	.user_header .info>div {
		display: block;
		float: none;
		width: 100%;
		max-width: 100%;
		clear: left;
		margin: auto;
		height: auto;
		margin: auto;
	}
	.user_header .info>div:first-child {
		width: 100% !important;
		max-width: 100%;
		display: block;
		float: none;
		margin: auto;
		height: auto;
		padding-top: 15px 0 0 0;		
	}
	.efc_show, .efc_hide {
		right: 30px;
	}
	.salary>div {
		text-align: center;
	}
	.info .salary p {
		display: block;
	}
	.salary p>span {
		width: 100%;
		/* display: block; */
		overflow: hidden;
		/* display: inline-block; */
		font-size: 1.5rem;
	}
	.info .layout_button {
		height: auto;
		flex-wrap: wrap;
		justify-content: normal;
		margin: auto;
		justify-content: space-around;
	}
	.info .layout_button >button>a {
		padding: 0;
		overflow-wrap: break-word;
	}
	.info .layout_button >button {
		width: 45%;
		margin: 0;
		margin-bottom: 20px;
	}
	.info .layout_button >button:not(:last-child) {
		margin: 0;
		margin-bottom: 20px;
	}
	.container .posts, .container .calendar {
		padding:8px;
		margin: auto;
	}

	.layout_button span.img.all_req {
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	.topnav >div {
	  display: none;
	}
	.comming_agenda .placeholder {
		height: auto;
	}
	.section_top_nav.responsive .topnav >div {
		display: block;
	  }
	.topnav ul.nav_ul.float_right li.icon {
	  float: right;
	  display: block;
	  position: relative;
	}
	.topnav.responsive {
	  position: relative;
	}
	.topnav.responsive ul.nav_ul.float_right li.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive >div {
	  /*float: none;*/
	  display: block;
	  text-align: left;
	  margin: 10px 0;
	}
	.header_nav {
	  height: auto;
	}
  }
  @media (max-width: 768px) {
	.topnav {
	  width: 100%;
	  max-width: 100%;
	}
  }

  
@media (max-height: 900px)  {
    .user_header {
        height: auto;
    }
    .user_header .info>div:first-child {
        padding: 20px;
    }
    .layout_button span.img {
        width: 55px;
        height: 55px;
        background-size: 55px 55px;
    }
    .user_header .info .header_user_go p:first-child {
        padding:0;
        margin: 0;
    }
    .user_header .info>div:first-child p {
        padding:0;
        margin: 0;
    }
  
    .user_header .info>div {
        padding: 25px 40px 25px;
    }    
}


@media (max-height: 800px) {
	
	.image_prof {
		width: 70px;
		height: 70px;
	}
	.header_user_go p>span:first-child {
		font-size: 1.25rem;
		margin: 5px 0;
	}
	.header_user_go p>span:last-child {
		font-size: 0.625rem;
		padding-bottom: 10px;
	}
	.user_header .info>div {
		padding: 10px 20px 10px;
	}
	.salary p>span {
		font-size: 1.25rem;
	}
	.layout_button span.img {
		width: 35px;
		height: 35px;
		background-size: 35px 35px;
	}
	.info .layout_button >button>a p {
		font-size: 0.75rem;
	}
	.salary .efc p {
		font-size: 0.75rem;
	}
	.efc_show, .efc_hide {
		right: 20px;
		top: 10px;
	  }
	
	.layout_button span.img{
		margin-bottom: 5px;
	}
	.comming_agenda {
		padding: 10px 30px;
	}
	.nav_top.topnav  {
		padding:  0;
		line-height: 32px;
	
	}
	ul.nav_ul.float_right {
		margin-bottom: 0;
	}
	
	.topnav#myTopnav {
		background: white;
		border-radius: 5px;
		/* border: 1px solid; */
		margin: 5px 0;
	}
}
@media (max-height: 450px)  {
	.container .posts .all_post {
		float: none;
		height: auto;
    }
    .container .calendar>div {
        height: auto;
    }
	html {
		height: auto;
        overflow: auto;
        scrollbar-width: thin;   
	}
	.user_header {
		position: static;
        float: none;
		margin: 20px auto;
	}
	div.topnav {
		float: none;
		margin: auto;
	}
	.container .calendar, container .noticeboard, .container .posts {
		float: none;
		height: auto;
		margin: auto;
		width: 100%;
		max-width: 100%;
		padding: 20px 0;
	}	
    .index_page .index_main  {
        float: none;
        position: static;
        margin: auto;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .index_page.profile_main  {
        float: none;
        position: static;
        margin: auto;
        width: 100%;
    }   
}

@media (max-height: 650px) and (min-width: 450px) {
	.nav_top {
		height: 52px;
		padding: 10px 0;
	}

	#myTopnav {
		height: 100%;
	}
	
	.button_nav {
		height: auto;
		line-height: 61px;
		margin-bottom: 0;
	}
	
	.user_header .info>div {
		padding: 20px;
		padding-top: 30px;
	}
	.salary p>span {
		font-size: 1.25rem;
	}
	.image_prof {
		width: 70px;
		height: 70px;
		}
	
	.user_header .info div h2 {
		font-size: 1rem;
	}
	.salary>div {
		padding-bottom: 10px;
	}
	.container {
		padding: 0 20px 15px 15px;
    }
}

.selectBox {
	position: relative;
}
  
.modal .selectBox select {
	width: 100%;
	font-weight: bold;
	font-weight: 500;
	font-size: 0.625rem;
	color: #2B2B2B;
	padding: 0;
	margin: 0;
	height: auto;
	background: inherit;
	border: inherit;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}

#checkboxes, #checkboxes1 {
	display: none;
/* 	border: 1px #dadada solid; */
   /*  position: absolute;
    left: 0px;
    right: 0px;
    background: rgb(255, 255, 255);
    z-index: 1; */
}

#checkboxes > input[type=search], #checkboxes1 > input[type=search] {
	width: 100%;
    padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
#checkboxes label, #checkboxes1 label {
	display: flex;
    height: 20px;
    line-height: 20px;
    align-items: center;
}

#checkboxes label:hover, #checkboxes1 label:hover {
	background-color: #1e90ff;
}

.col-offset-1 {
    margin-left: 8.3333333333%;
}
.col-offset-2 {
	margin-left: 16.6666666667%;
}
.evidention_check {
	color: #98acdf;
}
.evidention_check .checkout, .evidention_check .entry {
	height: 100%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.evidention_check .entry {
	color: green;
}

.evidention_check .checkout {
	color: red;
}