body {
	height: 100vh;
    width: 100vw;
	background: #f8f8f8;
	overflow: hidden;
}

nav.navbar.navbar-default{
	margin: 0 !important;
	
}
aside.side-bar {
	float: left;
	padding: 20px;
	background: #333;
	height:100%;
}

aside.side-bar li {
	color: white;
}

aside.side-bar li a {
	color: inherit;
}

aside.side-bar li.active a {
	color: #DE781F;
}

.main {
	padding: 20px 30px;

}

.jumbotron {
	background:inherit;
}

ul.side-nav {
    padding: 0;
    float: left;
}

.container.layout {
	float:left;
	padding: 0;
	height: 100%;

}

.side-nav li {
    display: block;
    padding: 5px 0;
	
}

.active a {
	color: #DE781F;
}

.danger {
	color:red;
}

.btn-edit, .btn-delete {
	padding: 0 10px;
}

.center {
	text-align: center;
}

.client_show tr td {
	padding:10px;
}