a {
	color:inherit;
	display: inline-block;
}

a:hover, button:hover {
	cursor: pointer;
}

img{
	max-width: 100%;
	/* max-height: -webkit-fill-available; */
}

table {
	font-size: 0.875rem
}
table thead tr {
	font-size: 0.625rem;	
}
table.dataTable thead th {
	position: sticky;
	top: 0;
	background: white;
   /*  z-index: 1; */
}

table.dataTable thead th, table.dataTable thead td{
/* 	padding-top: 15px; */
	border: none;	
}

.topnav.nav_top a.shortcut,.topnav.nav_top span.shortcut {
    float: left;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 32px;
    color: #98acdf;
    padding: 0 10px;
	width: 100%;
    height: 100%;
	position: relative;
}

#admin_page a.shortcut,#admin_page span.shortcut {
    float: left;
    font-weight: 500;
    font-size: 0.75rem;
    color: #98acdf;
    padding: 0;
    width: auto;
	height: auto;
	position: absolute;
	right: 30px;
	top: 5px;
	z-index: 1;
}
.shortcuts_container .shortcut {
	text-decoration: none;
    font-weight: 600;
    font-size: 0.75rem;
    color: #606060;
    text-transform: uppercase;
	line-height: 20px;
	float: left;
	cursor: pointer;
	width: 100%;
	text-decoration: none;
	text-align: right;
}
.shortcuts_container .btn-new {
	height: 20px;
    padding: 0 8px;
    text-decoration: none;
    color: white;
    margin: 0;
    margin-left: 5px;
}
.shortcuts_container .btn-new:hover, .shortcuts_container .shortcut:hover .btn-new{
    background-color: #0069d9;
    border-color: #0062cc;
}

.disable {
	pointer-events: none;
   	cursor: default;
}
header.header_nav {
    background: #071E57;
    color: #ffffff;
    padding: 0 30px;
	width: 100%;
	height: 92px;
    z-index: 0;
}
aside.side_nav {
	float: left;
    height: 100%;
    width: auto;
    min-width: 100px;
    overflow: hidden;
    /* max-width: max-content; */
    display: block;
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
	background: white;
	box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15);
}
.nav_top.topnav {
	height: auto;
	padding: 0;
	overflow: hidden;
	margin: auto 0;
	position: relative;
  }
.button_nav {
   /*  min-width: 190px;
    height: 81px;
	background: #051847;
	display: block;
	margin-bottom: 30px;
	color: inherit;
	line-height: 81px;
	padding-left: 23px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 0.75rem;
	position: relative; */
	min-width: auto;
    height: 81px;
    background: white;
    display: block;
    margin-bottom: 0;
    color: inherit;
    line-height: initial;
    padding-left: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    position: relative;
}

.topnav a.button_nav:hover {
	color: #071e57;	
}
.button_nav:hover p.button_nav_text, .button_nav:hover span.button_nav_img>svg {
    color: #071e57;
}
.nav_ul a {
    display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	position: relative;
}

.nav_ul a.icon {
	color: #A7BBEE;
    display: inline-block;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.nav_top img {
	min-height: 25px;
	max-width: 140px;
	max-height: 80px;
	text-align: center;
	/* top: 50%;
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%); */
}
.nav_ul.float_right a img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header_nav .nav_top.topnav a.icon>i, .header_nav .nav_top.topnav a.icon>svg.svg-inline--fa.svg-inline--fa.fa-w-14 {
	margin: 0;
	padding: 0;
	margin-top: 50%;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	width: 19px;
	height: 19px;
	font-size: 19px;
	color: #A7BBEE;
}

ul.nav_ul.float_right li {
    float: left;
    width: auto;
    height: 32px;
	background-color: #051847;
    border-radius: 3px;
	margin-left: 12px;
	line-height: 32px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.change_lang li {
	clear: both;
	position: relative;
}


.dropbtn {
	background-color: inherit;
    color: #98abde;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
    position: fixed;
    background-color: inherit;
    border: 1px solid #98abde;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    line-height: normal;
    width: 70px;
    padding: 5px;
}
.dropdown_empl .dropdown-content{
	height: 500px;
    width: auto;
    overflow: auto;
    background: white;
    font-size: 12px;
    position: static;
}
.dropdown_empl .dropdown-content span {
	display: inline-block;
}
.dropdown-content a {
	color: #98abde;
    padding: 4px 12px;
    text-decoration: none;
    display: block;
	font-size: 12px;
	width: 100%;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.nav_ul.float_right a img.img_flag {
	width: 100%;
    height: auto;
    position: static;
    transform: none;
    min-height: auto;
}
}
ul.nav_ul.float_right li:hover {
	background-color:#082877;
}
ul.nav_ul.float_right {
	list-style: none;
	margin: 0;
	padding: 30px 0;
}

ul.nav_ul.float_right li img {
	margin: 0;
}

.nav_ul a:hover {
    background-color: inherit;
    color: #051847;
}

.user_header {
    height: 40%;
    position: relative;
    color: #071E57;
	text-align: center;
	padding: 0;
    z-index: 2;
    float: left;
}

.logo_icon {
	cursor: pointer;
    float: left;
	height: 100%;
    line-height: 32px;
	display: block;
	padding: 35px 0;
	
	
}
.logo_icon>i, .logo_icon>svg.svg-inline--fa.fa-w-14 {
	color: #fff;
	width: auto;
	float: left;
	margin: 0;
	width: 19px;
	height: 19px;
	font-size: 19px;
}
.header_nav .section_top_nav {
	clear: left;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	float: left;
    height: 100%;
    width: 0;
    overflow: hidden;
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
	background: white;
	box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15);
	transition: width 1s;
}

  .topnav#myTopnav {
	  background-color: white;
	  padding: 0 20px;
	  overflow: auto;
	  width: 0;
	  display: none;
	  transition: display 0.5s;
	  transition-delay: 5s;
	  height: calc(100% - 92px);
	  margin-top: 30%;
	  margin-bottom: 30%;
}
  
.section_top_nav .close_topnav {
	color: rgba(96, 96, 96, 0.6);
    transition: 0.3s;
    display: flex;
    padding: 0;
    width: 100%;
    padding: 0 30px 0 30px;
    height: 92px;
    line-height: 92px;
    position: relative;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center;
}
.section_top_nav .close_topnav>img {
	max-height: 90%;
    max-width: 80%;
}

.header_nav .section_top_nav .close_topnav svg {
	margin: 0;
	float: right;
	cursor: pointer;
	font-size: 25px;
	max-width: 20%;
	display: none;
	position: absolute;
    right: 15px;
    top: 15px;
}

.topnav.nav_top a:not(.lang_link) {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    height: 100%;
    min-width: 30px;
    padding: 0;
	line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 0 10px;
}
.topnav.nav_top a.link_home {
	padding: 28px 0;
	padding-left: 30px;
}
.topnav.nav_top a>svg {
	margin-right: 5px;
}
  .topnav>a:first-child {
	padding-left: 30px;
  }
  .topnav a:hover {
	color: #ccc;
	background-color: inherit;
  }
  
  .topnav a.active {
	background-color: inherit;
	color: #071e57;
	overflow: hidden;
  }
  
  .topnav ul.nav_ul.float_right li.icon {
	display: none;
  }
  
  .topnav>div {
	padding: 0 10px;
    height: auto;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
  }
 
.user_header .info {
	box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15), -3px 0 14px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #071E57;
    border-radius: 3px;
    z-index: 1;
    margin: auto;
    float: right;
}

.user_header .info>div {
	padding: 0 30px;
    height: 100%;
    background: #ffffff;
    width: calc(75% + 15px);
    overflow: hidden;
    max-width: calc(75% + 15px);
}

.user_header .info>div:first-child {
	background: #F8FAFF;
	padding: 35px 0;
	width: calc(25% - 17px);
	border-radius: 3px;
}

.image_prof {
	width: 110px;
    height: 110px;
    border-radius: 50%;
    display: inline-block;
	overflow: hidden;
}

.user_header .image_prof>img {
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    transform: translatey(-50%);
    max-width: max-content;
    width: 100%;
    max-height: max-content;
}

.user_header .info div h2 {
	font-weight: 600;
	font-size: 1.5625rem;
	margin-bottom: 5px;
	text-align: center;
}

.user_header .info>div:first-child p {
    font-weight: 500;
    font-size: 0.8125rem;
	text-align: center;

}

.header_user_go {
	overflow:hidden;
	margin-top: 10px;
}
.header_user_go p>span {
    width: 100%;
    display: block;
}

.header_user_go p {
	width: 50%;
	float: left;
	margin: 20px 0 0;

}
.header_user_go p>span {
	width: 100%;
}
.header_user_go p>span:first-child {
	font-weight: 500;
	font-size: 1.875rem;
	align-items: center;
	text-align: center;
	color: #071E57;
	margin: 15px 0 10px;
}
.header_user_go p>span:last-child {
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 12px;
	align-items: center;
	text-align: center;
	color: #1390E9;
	padding: 0 20px;
	padding-bottom: 20px;
}

.user_header .info .header_user_go p:first-child {
	border-right: 1px solid #ccc;
}

.salary {
	position: relative;
}

.salary>div {
    width: 100%;
    background: #ffffff;
   /*  overflow: hidden; */
    padding: 20px 0;
	height: auto;
}

.salary>div:first-child {
	border-bottom: 1px solid #ccc;
    overflow: hidden;
	height: 45%;

}
.salary>div.shortcuts_container {
	
	border-bottom: 1px solid #ccc;
	
}
.shortcuts_container:first-child {
	width: 15%;
	float: right;
	height: 45%;
	padding-bottom: 25px;
	padding-left: 0;
  /*   overflow-x: auto; */
}
.shortcuts_container:nth-child(2) {
	width: 85%;
	height: 45%;
	float: left;
}
.shortcuts_container:first-child>div:first-child {
	height: 60%;
}
.shortcuts_container:nth-child(2)>div {
	height: 100%;
}
.shortcuts_container:first-child>div:nth-child(2) {
	text-decoration: none;
    font-weight: 600;
    font-size: 0.625rem;
    color: #606060;
    text-transform: uppercase;
    line-height: 20px;
    float: right;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    text-align: right;
    height: 40%;
    padding-left: 15px;
}
.shortcuts_container>span,.shortcuts_container>a:not(.btn-delete) {
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-decoration: none;
    align-items: baseline;
   
}
.shortcuts_container:first-child>div {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: fit-content;
	float: right;
}
.scroll_button button {
	width: 45%;
    float: left;
    height: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
    background: inherit;
    color: #1694f0;
	font-size: 1.25rem;
	outline: none;
}

.scroll_button button:first-child {
	margin-right: 10%;
}
.shortcuts_container .shortcuts_all {
    height: 100%;
	width: max-content;
	width: 1000px;
    clear: both;
    overflow-x: scroll;
	white-space: nowrap;
	display: flex;
    justify-content: start;
    align-items: center;
	margin-right: 5px;
}

.shortcuts_container .profile_images {
	height: 100%;
	margin: 0;
}
.shortcuts_container::-webkit-scrollbar{
	display: none;
}
.shortcuts_container .shortcut_box {
	align-items: center;
    font-size: 0.6875rem;
    overflow-wrap: break-word;
    padding-right: 15px;
    float: left;
    width: 126px;
    position: relative;
    height: 100%;
}
.shortcuts_container .profile_img {
	width: 126px;
	height: 100%;
	flex: 0 0 126px;
}

.shortcuts_container .profile_img>span {
	border: 1px solid #e9ecef;
	background: #f9f9f9;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	padding: 37px;
}
.shortcuts_container .profile_img >span>span {
	display: block;
	width: 100%;
	height: 50%;
}
.shortcuts_container .profile_img >span>span:first-child {
	width: 100%;
    height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
}
.shortcuts_container .profile_img >span>span:nth-child(2) {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    text-align: center;
    font-size: 0.5625rem;
    font-size: 0.6875rem;
    font-weight: 500;
    overflow-wrap: break-word;
    text-transform: inherit;
    color: inherit;
}
.shortcut_box >a:not(.btn-delete) {
	width: 100%;
	height: 100%;
	color: inherit;
    display: flex;
    align-items: center;
	justify-content: center;
	z-index: 1;
	text-decoration: none;
	border: 1px solid #e9ecef;
	background: #f9f9f9;
	white-space: initial;
    padding: 28px;
}
.shortcut_box >a.btn-delete {
	z-index: 20;
} 
.shortcut_box.open_new_shortcut>span {
	border: 1px solid #e9ecef;
	background: #f9f9f9;
	width: 100%;
	height: 100%;
}
.scroll_button {
	position: relative;
}
.icon_delete.danger {
	color: #1594F0 !important;
	font-size: 0.9375rem;
    position: absolute;
    top: 5px;
    padding: 0;
	right: 25px;
	display: none;
}
.icon_plus {
	display: grid;
    margin-top: 50%;
    margin-bottom: 50%;
    transform: translateY(-50%);
}
.icon_plus svg.svg-inline--fa.fa-w-14 {
	width: 100%;
}
.salary .efc p {
	float: left;
	font-weight: 500;
	font-size: 0.9375rem;
	color: #1390E9;
	padding: 0;
	margin-bottom: 5px;
	width: 100%;
}

.salary p>span.salery_hidden {
	display: block;
}

.salary p>span {
	font-weight: 500;
	font-size: 2rem;
	color: #071E57;
	display: none;
	padding-bottom: 5px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_header .info .salary .event  {
	color: #CBD8F9;
	font-weight: 500;
}

.user_header .info .salary .event .comming_event {
	width:13.1%;
	float: left;
	margin-right: 1.16%;
	background: #F8FAFF;
	padding: 15px 10px;
}
.user_header .info .salary .event .comming_event > span {
	display: block;
	
}

.user_header .info .salary .event .comming_event .event_name {
	font-size: 0.5rem;
	padding-bottom: 80px;
	
}

.user_header .info .salary .event .comming_event .event_day {
	font-size: 1.875rem;
	font-weight: 400;
}

.user_header .info .salary .event .comming_event .event_month {
	font-size: 0.75rem;
}

.comming_event .elipse {
	clear: left;
	float: none;
	line-height: 10px;
	text-align: left;
	padding-left: 5px;
}
   

.comming_event span.event_orange, .comming_event span.event_green, .comming_event span.event_blue  {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	display: inline-block;
}

.comming_event .event_green {
	background: #13EA90;
}
.comming_event .event_orange {
	background: #EA9413;
}
.comming_event .event_blue {
	background:#1390EA;
}

.user_header .info .salary .event {
	padding:0;
	padding-top: 35px;
}


.side_navbar {
	height:100%;
	background: #333;
	color: white;
}

.navbar-default {
	margin-bottom:0;
}

.container {
	padding: 80px 30px 30px;
	overflow: auto;
	scrollbar-width: thin;
	
}

.side_navbar a {
	color: inherit;
}

.side_navbar .navbar-nav>li {
	display: block;
    width: 100%;
}

.nav>li>a:hover {
/* 	background-color: #777;
	border: 1px solid #999;
	border-radius: 5px; */
}

.nav>li>a:focus {
	
	background-color:inherit;
}*/

.side_navbar .navbar-brand {
	min-height: 50px;
	height: auto;
	width: 100%;
    text-align: center;
}

.navbar-header .navbar-brand {
	padding: 5px;
}

.navbar-header img {
	color: white;
	max-height:100%;
}

.side_navbar .navbar-brand img {
	color: white;
	max-width:200px;
	padding: 20px;
	color: white;
    max-width: 200px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.navbar-default .navbar-nav>li.active>a{
	color: #f68422;
}

.center {
	 text-align: center;
}
.right {
	text-align: right;
}


.danger {
	color: red !important;
}
.btn-finish {
	color:green;
}
input.staz {
    width: 50px;
    height: 34px;
    padding: 6px 12px;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

tbody td svg {
	margin-right: 5px;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.padd_l_10 {
	padding-left: 10px;
}

.padd_l_20 {
	padding-left: 20px;
}
.padd_l_30 {
	padding-left: 30px;
}

.bold {
	font-weight: bold;
}

.note-editable {
    height: 200px;
}

textarea {
	width: 100%;
	max-width:100%;
}

#index_table tbody td p>img {
	display: none;
}

input[type=file] {
    display: inline-block;
}

.upload form {
	line-height: 25px;
	clear: left;
	overflow: hidden;
	max-width: 100%;
}

.upload form .form-group {
	float: left;
	padding: 0 20px;
	line-height: 25px;
	margin:0;
}
.upload form .form-group .djelatnik {
	padding: 5px 10px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 100%;
}

.panel-footer.ad {
	overflow:hidden;
	text-align: right;
	font-size: 0.8125rem;
}

.input_search {
	width: 45%;
    height: 34px;
    padding: 6px 12px;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter {
	height: 100%;
    display: block;
    position: relative;
}

.filter select {
	width: 45%;
    height: 34px;
    padding: 6px 12px;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
	margin-left: 10px;
}

.time_label {
	width: 100%;
}

.form-group.time, .form-group.span {
	float: left;
}


.form-group.time {
	width: 45%;
}


.form-group.span {
	width: 10%;
	line-height: 34px;
	text-align: center;
}

span.line_btn {
	line-height: 81px;
    position: relative;
    display: inline-block;
    position: absolute;
    bottom: -5px;
	left: 0;
	
}

span.count_comment{
    background: #1594F0;
    color: white;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
	margin-left: 20px;
	position: absolute;
    left: 0;
	bottom: 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 0.5rem;
}

span.count_post1{
    background: #1594F0;
    color: white;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
	margin-left: 20px;
	position: absolute;
    left: 0;
	top: 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 0.5rem;
	border: 1px solid red;
}

#index_table span.count_comment {
    position: relative;
    bottom: 3px;
}

span.count_post {
    height: 25px;
	text-align: center;
    line-height: 25px;
	margin: 0 20px;
    color: red;
    padding: 5px 10px;
    border-radius: 16px;
    border: 1px solid red;
    font-size: 0.75rem;
}

.nav .count_comment {
	background: white;
    color: black;
}

.efc_show, .efc_hide {
	position: absolute;
	right:60px;
	top:20px;
	font-weight: 600;
	font-size: 0.625rem;
	align-items: center;
	color: #2B2B2B;
	z-index: 1;
	
}

.efc_show:hover, .efc_hide:hover {
	cursor: pointer;
} 

.efc_show {
	display: block;
}

.efc_hide {
	display: none;
}

.user_header .efc_show img, .user_header .efc_hide img {
	color: #2B2B2B;
    width: 8.4px;
    display: inline-block;
    height: auto;
    margin-left: 5px;
}

.efc{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	height: 30.42%;
}

.info .layout_button {
	padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    height: 55%;
    overflow-wrap: break-word;
}

.info .layout_button >button {
	height: 100%;
	max-width: calc((100% / 7) - 15px);
	width: calc((100% / 7) - 15px);
	min-width: calc((100% / 7) - 15px);
    background: #F4F7FF;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 16px;
    text-align: center;
    padding: 0;
	color: #071E57;
	margin-bottom: 15px;
	padding: 10px;
}

.info .layout_button >button.sick_button {
    background-color: rgb(256,0,0,0.5);
}

.info .layout_button >button>a {
	text-decoration: none;
	padding: 0;
	margin: auto;
    width: 100%;
    height: auto;
    display: block;
	color: #071E57;
	box-sizing: border-box;
}
.info .layout_button >button>a >span {
	overflow: visible;
	display: block;
	margin: auto;
	padding: 0;
}
.info .layout_button >button>a p {
	margin-bottom: 0;
	font-size: 0.75rem;
}
.info .layout_button >button>a:hover {
	box-sizing: border-box;
}
.info .layout_button >button:not(:last-child) {
	margin-right: 15px;
}

.layout_button span.img {
	width: 65px;
	height: 65px;
	display: block;
	margin: auto;
	margin-bottom: 15px;
	display: block;
	background-position: center;
}

span.img.books {
	background: url('../icons/books.png') no-repeat center;
	background-size:  65px 65px;
}

span.img.beach {
	background: url('../icons/beach.svg') no-repeat center;
	background-size: 65px 65px;
}
span.img.clock {
	background: url('../icons/clock.svg') no-repeat center;
	background-size:  65px 65px;
}

span.img.overtime {
	background: url('../icons/overtime.png') no-repeat center;
	background-size:  65px 65px;
}

span.img.sick {
	background: url('../icons/sick.png') no-repeat center;
	background-size:  65px 65px;
}

span.img.car {
	background: url('../icons/car.svg') no-repeat center;
	background-size:  65px 65px;
}
.layout_button button.background_red {
	background: rgba(256,0,0,0.4);
	border-radius: 5px;
}
span.img.task {
	background: url('../icons/task.svg') no-repeat center;
	background-size:  65px 65px;
}
span.img.travel {
	background: url('../icons/travel.svg') no-repeat center;
	background-size:  65px 65px;
}
span.img.fuel {
	background: url('../icons/fuel.svg') no-repeat center;
	background-size:  65px 65px;
}
span.img-success {
	background: url('../icons/success.png') no-repeat center;
	width: 131px;
	height: 131px;
	margin-top: 10px;
	margin-bottom: 60px;
	margin: auto;
    display: block;
}

span.img-error {
	background: url(../icons/error.png) no-repeat center;
    width: 131px;
    height: 140px;
    margin-top: 10px;
    margin-bottom: 60px;
    margin: auto;
    display: block;
}

.layout_button span.img.all_req {
	background: url('../icons/zahtjevi.svg') no-repeat center;
	background-size:  65px 65px;
}

.layout_button span.img.all_req p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button_nav span.button_nav_img  {
	min-width: 28px;
	min-height: 28px;
	background-position: center;
	float: left;
	height: 70px;
	line-height: 70px;
	opacity: 0.6;
	background-size: auto 32px;
}
.button_nav span.button_nav_img>svg {
	color: #a9acb0;
    width: 28px;
    height: 100%;
}
.button_nav p.button_nav_text {
	float: left;
    margin-left: 20px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 28px;
    color: rgba(96, 96, 96, 0.6);
	padding: 0;
	line-height: 70px;
	width: auto;
}  

.button_nav p.button_nav_text:hover {
	color: #6a789a;
}

.button_nav.active p.button_nav_text {
	color: #6a789a;
	font-weight: 700;
}

.logo_icon p.button_nav_text {
	display: none;
    margin-bottom: 0;
	text-align: left;
}

.logo_icon p.button_nav_text >img {
	max-width: 150px;
	max-height: 35px;
}
span.button_nav_img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px;
}

span.button_nav_img.documents {
	background: url('../icons/documents_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.calendar {
	background: url('../icons/calendar_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.employees {
	background: url('../icons/employees.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.questionnaire {
	background: url('../icons/list_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.ads {
	background: url('../icons/ads_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.messages {
	background: url('../icons/messages_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.arrow_dashboard {
	background: url('../icons/dashboard_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.benefits {
	background: url('../icons/benefits_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

span.button_nav_img.campaign {
	background: url('../icons/campaign_grey.png') no-repeat;
	background-size: 28px;
	background-position: center;
}
/* hover */
.posts_button:hover span.button_nav_img.messages {
	background: url('../icons/messages_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.documents_button:hover span.button_nav_img.documents {
	background: url('../icons/documents_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.events_button:hover span.button_nav_img.calendar {
	background: url('../icons/calendar_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.questionnaires_button:hover span.button_nav_img.questionnaire {
	background: url('../icons/list_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.oglasnik_button:hover span.button_nav_img.ads {
	background: url('../icons/ads_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}


.dashboard_button:hover span.button_nav_img.arrow_dashboard {
	background: url('../icons/dashboard_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.benefits_button:hover span.button_nav_img.benefits, .suitabilities_button:hover span.button_nav_img.benefits{
	background: url('../icons/benefits_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.campaigns_button:hover span.button_nav_img.campaign{
	background: url('../icons/campaign_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

/* active status */
.button_nav.active span.button_nav_img.documents {
	background: url('../icons/documents_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.calendar {
	background: url('../icons/calendar_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.questionnaire {
	background: url('../icons/list_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.ads {
	background: url('../icons/ads_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.messages {
	background: url('../icons/messages_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.arrow_dashboard {
	background: url('../icons/dashboard_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.benefits {
	background: url('../icons/benefits_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.campaign {
	background: url('../icons/campaign_blue.png') no-repeat;
	background-size: 28px;
	background-position: center;
}

.button_nav.active span.button_nav_img.contacts>svg, .button_nav.active span.button_nav_img.instructions>svg, .button_nav.active span.button_nav_img.educations>svg, .button_nav.active span.button_nav_img.work_diaries>svg {
	color: #071e57;
}

.index_absence .header_absence {
	font-weight: 600;
	font-size: 1.125rem;
	color: #F8FAFF;
}

.note-modal-content {
    overflow: hidden;
}

.note-modal-footer {
	height: auto !important;
	overflow: hidden;
}
.note-modal-content .note-modal-footer .note-btn, .note-modal-content .note-modal-footer .note-image-btn,  .note-modal-content .note-modal-footer .note-video-btn  {
	margin-bottom: 20px;
	margin-right: 20px;
}

.layout_button button:hover, .layout_button button:active, .shortcuts_container .shortcut_box>a:hover, .shortcuts_container .profile_img>span:hover, .shortcuts_container #left-button-scroll:hover, .shortcuts_container #right-button-scroll:hover{
	border: 1px solid #1594F0;
	text-decoration: none;
}

table.table_fuel, table.table_service {
	width: 98%;
}
table.table_fuel .no-data, table.table_service .no-data {
	text-align: center;
}

table.table_fuel th, table.table_fuel td {
	width: 25%;
	padding: 5px;
	border: 1px solid #ccc;
}

table.table_service th, table.table_service td {
	padding: 5px;
	border: 1px solid #ccc;
}


 table.table_service th:nth-child(3), table.table_service td:nth-child(3)   {
	width: 15%;	
}
table.table_fuel th, table.table_service th  {
	text-align: center;
}
table.table_fuel td {
	text-align: right;
}

table.table_service td{
	text-align: right;
}

table.table_service td:nth-child(4), table.table_service td:nth-child(5) {
	text-align: left;
}

.label_file >span {
	display: block;
	width: 150px;
	height: 36px;
	left: 696px;
	top: 291px;
	background: #1594F0;
	border-radius: 3px;
	margin-top: 15px;
	font-weight: 600;
	font-size: 0.625rem;
	line-height: 36px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}
.label_file >span:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
.label_file >span >img {
	margin-right: 20px;
}

.box.is-uploading .box__input {
	visibility: none;
}
.box.is-uploading .box__uploading {
	display: block;
}
.box.is-dragover .label_file {
	background-color: grey;
}
.box__dragndrop, .box__uploading, .box__success, .box__error {
	display: none;
}

.box.has-advanced-upload .box__dragndrop {
	display: inline;
}

.modal.upload .label_file {
	height: 191px;
	width: 646px;
	max-width: 100%;
	border: 2px dashed #1594F0;
	border-radius: 3px;
	position: relative;
	padding: 15px;
	cursor: pointer;
}
.modal.upload .label_file:hover >span:not(.img_plus):not(.text_upload box__dragndrop){
	background-color: #0069d9;
    border-color: #0062cc;
}
.modal.upload .label_file>input#file_upload {
	width: 100%;
	height: 100%;
	display: inline-block;
}
.modal.upload .label_file>p {
	margin-bottom: 5px;
}
.modal.upload form .form-group {
	float: none;
	margin-bottom: 30px;
	padding: 0;

}
.modal.upload span.img_plus {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background: #F8FAFF url(/../icons/plus.png) no-repeat center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-65%, -50%);
}
.modal.upload span.text_upload {
	font-weight: 600;
	font-size: 1.25rem;
	color: #1594F0;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-40%, -50%);
	display: inline;
	width: auto;
	padding-right: 10px;
	background: inherit;
}

.profile_img>a.danger:not([href]):not([tabindex]) {
	color: #ccc;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 0;
    background: #fff;
    border-radius: 50%;
	width: 24px;
	height: 24px;
    line-height: 24px;
	text-align: center;
	margin-right: 3px;
    margin-top: 3px;
}

.profile_images span.profile_img {
	position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    align-items: center;
	font-size: 0.6875rem;
	cursor: pointer;
	padding-right: 15px;
	max-width: 300px;
}

.slide_show_open {
	display: inline-block;
}


.selectBox {
	position: relative;
}
  
.modal .selectBox select {
	width: 100%;
	font-weight: bold;
	font-weight: 500;
	font-size: 0.625rem;
	color: #2B2B2B;
	padding: 0;
	margin: 0;
	height: auto;
	background: inherit;
	border: inherit;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}

#checkboxes, #checkboxes1 {
	display: none;
/* 	border: 1px #dadada solid; */
   /*  position: absolute;
    left: 0px;
    right: 0px;
    background: rgb(255, 255, 255);
    z-index: 1; */
}

#checkboxes > input[type=search], #checkboxes1 > input[type=search] {
	width: 100%;
    padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
#checkboxes label, #checkboxes1 label {
	display: flex;
    height: 20px;
    line-height: 20px;
    align-items: center;
}

#checkboxes label:hover, #checkboxes1 label:hover {
	background-color: #1e90ff;
}

.col-offset-1 {
    margin-left: 8.3333333333%;
}
.col-offset-2 {
	margin-left: 16.6666666667%;
}
.evidention_check {
	color: #98acdf;
}
.evidention_check .checkout, .evidention_check .entry {
	height: 100%;
    display: flex;
    justify-content: space-around;
    width: 100%;
	align-items: center;
	border: none;
    background: inherit;
	font-size: 28px;
	outline: none;
	font-size: 1.25rem;
}

.evidention_check .entry {
	color: green;
}

.evidention_check .checkout {
	color: red;
}

.change_lang {
	float: left;
}
@media (max-height: 1000px) {
	.user_header .info>div:first-child {
		padding: 5px 0;
		
	}
	.header_user_go p>span:last-child {
		font-size: 0.625rem;
		padding: 0;
	}
} 

@media (max-height: 950px) and (min-width: 450px)  
{
    .user_header .info>div:first-child {
        padding: 20px;
    }

    .user_header .info .header_user_go p:first-child {
        padding:0;
        margin: 0;
    }
    .user_header .info>div:first-child p {
        padding:0;
        margin: 0;
    }
  
    .user_header .info>div {
        padding: 25px 40px 25px;
	}    
	.info .layout_button >button>a p {
		font-size: 0.625rem;
	}
	.header_user_go p>span:last-child {
		font-size: 0.625rem;
		margin-right: 0;
	}
	.user_header .info div h2 {
		font-size: 1.25rem;
	}
	.header_user_go p>span:first-child {
		font-size: 1.25rem;
	}
	.image_prof {
		width: 80px;
		height: 80px;
	}

	.header_user_go p>span:last-child {
		padding: 0;
	}
}

@media (max-height: 950px)  {
	.layout_button span.img {
		margin-bottom:0 ;
	}
	.layout_button span.img,.layout_button span.img.all_req {
		width: 45px;
		height: 45px;
		background-size: 45px 45px;
	}
	.user_header .info>div {
		padding: 15px 40px 15px;
	}
	.shortcuts_container .shortcut {
		font-size: 0.625rem;
	}
	.info .layout_button {
		padding: 15px 0;
	}
}

@media (max-height: 800px) 
{
	.image_prof {
		width: 70px;
		height: 70px;
	}
	.header_user_go p>span:first-child {
		font-size: 1.25rem;
		margin: 5px 0;
	}
	.header_user_go p>span:last-child {
		/* font-size: 0.625rem; */
		padding-bottom: 10px;
	}
	.user_header .info>div {
		padding: 10px;
	}
	.salary p>span {
		font-size: 1.25rem;
	}
	.layout_button span.img {
		width: 35px;
		height: 35px;
		background-size: 35px 35px;
	}
	.info .layout_button >button>a p {
		/* font-size: 0.625rem; */
	}
	.salary .efc p {
		font-size: 0.75rem;
	}
	.efc_show, .efc_hide {
		right: 20px;
		top: 10px;
	  }
	
	.layout_button span.img{
		margin-bottom: 5px;
	}
	.comming_agenda {
		padding: 10px 30px;
	}
	ul.nav_ul.float_right {
		margin-bottom: 0;
	}
	.topnav#myTopnav {
		background: white;
		border-radius: 5px;
		/* border: 1px solid; */
		margin: 5px 0;
	}
	.shortcuts_container .shortcut {
		font-size: 0.5rem;
	}
	.layout_button span.img, .layout_button span.img.all_req {
		width: 35px;
		height: 35px;
		background-size: 35px 35px;
	}
}

@media (max-height: 650px) and (min-width: 450px) {
	.nav_top {
		height: 52px;
		padding: 10px 0;
	}
	.image_prof {
		width: 50px;
		height: 50px;
	}
	#myTopnav {
		height: 100%;
	}
	
	.button_nav {
		height: auto;
		line-height: 61px;
		margin-bottom: 0;
	}
	
	.user_header .info>div {
		padding: 20px;
		padding-top: 30px;
	}
	.salary p>span {
		font-size: 1.25rem;
	}
	.user_header .info div h2 {
		font-size: 1rem;
	}
	.salary>div {
		padding-bottom: 10px;
	}
	.container {
		padding: 0 20px 15px 15px;
    }
}

@media (min-width: 1500px){
	.input_search, .filter select{
		width: 20%;
	}
}

@media (min-width: 800px){
	.input_search, .filter select{
		width: 30%;
	}
}

@media (max-width: 1300px) {
	.button_nav {
		padding: 10px 0;
		min-width: auto;
		height: auto;
	}
	span.button_nav_img {
		position: relative;
		transform: none;
		left: 0;
		top: auto;
		bottom: auto;
	}
	
	.topnav a.active {
		margin: auto;
		height: auto;
	}
	.topnav a > p {
		line-height: initial;
		margin: 0;
		padding-top: 10px;
	}
	.user_header .info div h2 {
		font-size: 1.25rem;
	}
	/* .info .layout_button {
		flex-wrap: wrap;
		padding: 20px 0 0;
		overflow: auto;
		flex-wrap: nowrap; 
   		display: block;
	} */
	.info .layout_button >button {
		font-size: 0.75rem;
		height: auto;
		
		float: left;
		margin: 0;
		min-width: auto;
		height: 100%;
	}
	.layout_button span.img {
		width: 35px; 
		height: 35px;
    	background-size: 35px 35px;
	}
	.layout_button span.img.all_req {
		width: 35px; 
		height: 35px;
    	background-size: 35px 35px;
	}
	div.topnav>div:nth-child(odd) {
	
		clear: left;
	}
	.salary p>span {
		font-size: 1.5rem;
	}
	.salary .efc p {
		font-size: 0.8125rem;
	}
	.header_user_go p>span:first-child {
		font-size: 1.5rem;
	}
	.header_user_go p>span:last-child {
		padding: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 0.688rem;
	}
	.shortcut_box {
		min-height: 60px;
	}
	.user_header .info>div:first-child, .user_header .info>div {
		padding: 10px;
		padding-bottom: 0;
	}
	.efc_show, .efc_hide {
		right: 10px;
		top: 5px;
	}
}

@media (max-width: 1200px) {
	header.header_nav {
		padding: 0 20px;
	}
	header.header_nav, .nav_top.topnav{
		height: 52px;
		line-height: initial;
	}
	.logo_icon {
		padding: 13px 0;
		line-height:  initial;
	}
	.topnav.nav_top a {
		line-height:  52px;
	}
	ul.nav_ul.float_right {
		padding: 10px 0;
	}
	
}

@media (max-width: 1024px) {	
	.user_header {
		padding-right: 10px;
		margin: 0;
		flex: 0 0 auto;
	}
}

@media (max-width: 992px) {
	.side_navbar {
		height: auto;
	}
	.info .layout_button {
		flex-wrap: wrap;
	}
	.layout_button>button>a>span>p{
		display: none;
	}
	span.img.sick, span.img.beach, span.img.books, span.img.overtime{
	/* 	background-size: 45px 45px; */
	 	margin-bottom: 0;
	}
	.layout_button span.img {
		margin: 0 auto;
	}
	.user_header {
		position: static;
		width: 100%;
		max-width: 100%;
		margin: 0;
		margin-top: 20px;
        padding: 10px 10px;
		float: none;
		overflow: hidden;
		height: auto;
	}
	.user_header .info>div:first-child {
		padding-bottom: 35px;
	}
}

@media (max-width: 768px){
	.shortcut>span.shortcut_text {
		display: none;
	}
	
	.topnav.nav_top a.shortcut >svg.svg-inline--fa.fa-w-14, .topnav.nav_top a.shortcut >svg.svg-inline--fa.fa-w-16 {
		position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
	}
	ul.nav_ul.float_right li {
		margin-left: 5px;
		width: 32px;
		height: 32px;
	}
	.user_header {
		position: relative;
		width: 100%;
		max-width: 100%;
		height: auto;
		min-height: auto;
		padding: 0;
		float: none;
		clear: left;
		margin: auto;
		margin-top: 10px;
		top: 0;
		overflow: hidden;
		right: 0;
		padding: 10px;
	}
	.notices_list {
		height: auto;
	}
	.user_header .info {
		width: 100%;
		float: none;
		clear: both;
		overflow: hidden;
	}
	.user_header .info, .user_header .info>div, .info .layout_button, .container .noticeboard  {
		height: auto;
	}
	.user_header .info, .user_header .info>div, .info .layout_button {
		height: auto;
	}
	.salary>div {
		padding-bottom: 10px;

	}
	.shortcuts_container:first-child {
		padding-bottom: 32px;
	}
	.info .layout_button {
		scroll-padding-top: 10px;
	}
	.topnav {
		width: 100%;
		max-width: 100%;
	}
}

@media (max-width: 450px) {
	.topnav >div {
	  display: none;
	}
	.topnav.nav_top a:not(.lang_link) {
		padding: 0;
	}
	.topnav.nav_top a.link_home {
		padding: 0;
	}
	.shortcuts_container .profile_images {
		height: 75px;
	}
	.shortcuts_container .profile_img>span {
		padding: 26px;
	}
	.section_top_nav.responsive .topnav >div {
		display: block;
	}
	#admin_page a.shortcut,#admin_page span.shortcut {
		right: 15px;
    	top: 2px;
	}
	.modal.upload span.img_plus  {
		width: 40px;
		height: 40px;
		left: 20%;
	}
	.modal.upload span.text_upload {
		left: 50%;
	}

	.topnav ul.nav_ul.float_right li.icon {
	  float: right;
	  display: block;
	  position: relative;
	}
	.topnav.responsive {
	  position: relative;
	}
	.topnav.responsive ul.nav_ul.float_right li.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.shortcuts_container:nth-child(2)>div:first-child {
		margin-bottom: 10px;
		overflow: hidden;
	}
	.topnav.responsive >div {
	  /*float: none;*/
	  display: block;
	  text-align: left;
	  margin: 10px 0;
	}
	.header_nav {
	  height: auto;
	}
	.image_prof {
		width: 50px;
		height: 50px;
	}
	.salary>div.shortcuts_container {
		width: 100%;
	}
	.scroll_button button {
		width: auto;
		padding: 0 10px;
	}
	.shortcuts_container:first-child>div:nth-child(2) {
		width: auto;
		margin-right: 20px;
	}
	.scroll_button button:first-child {
		margin-right: 10px;

	}
	.container .posts .all_post {
		float: none;
		height: auto;
	}
	html {
		height: auto;
		overflow: auto;
		scrollbar-width: thin;   
	}
	.user_header {
		position: static;
		float: none;
		margin: 20px auto;
	}
	div.topnav {
		float: none;
		margin: auto;
	}
	.container .calendar, container .noticeboard, .container .posts {
		float: none;
		height: auto;
		margin: auto;
		width: 100%;
		max-width: 100%;
		padding: 10px;
	}	
	.index_page .index_main  {
		float: none;
		position: static;
		margin: auto;
		width: 100%;
		overflow: hidden;
		margin-bottom: 20px;
	}
	.index_page.profile_main  {
		float: none;
		position: static;
		margin: auto;
		width: 100%;
	}   
	header.header_nav {
		height: 50px;
		display: block;
		z-index: 2;
		min-height: auto;		
		padding: 0 10px;
		position: sticky;
		top: 0;
	}
	.salary>div.shortcuts_container {
		float: none;
		width: 100%;
		overflow: hidden;
		padding: 10px 0;
	}
	.shortcuts_container .profile_img >span>span:nth-child(2) {
		position: relative;
	}
	.logo_icon {
		display: none;
	}
	.shortcut>span.shortcut_text {
		display: none;
	}
	.topnav.nav_top a {
		line-height: 50px;
		padding-left: 0;
	}
	ul.nav_ul.float_right {
		padding: 9px 0;
	}
	.nav_top img {
		max-height: 20px;
		min-height: 20px;
	}
	
	ul.nav_ul.float_right li {
		margin-left: 0px;
	}
	.container div.user_header {
		height: fit-content;
		margin: 0;
	}
	.button_nav.active p.button_nav_text {
		
		height: 28px;
		line-height: 28px;
	}
	.container .noticeboard, .container .latest_survey {
		height: auto;
		padding: 10px;
		max-width: 100%;
		float: none;
		border-radius: 0;
	}
	.container .latest_survey {
		padding: 0;
	}
	.container>.posts .all_post {
		float: none;
		padding: 10px;
		width: 99%;
		height: auto;
		margin: auto;
		margin-bottom: 10px;
	}
	body section {
		height: auto;
	}
	.user_header .info>div {
		padding: 10px 0;
		margin-bottom: 10px;
		height: 100%;
	}
	.info .salary p {
		width:100%;
		max-width: 100%;
		float: none;
		overflow: unset;
		display: inline;
	}
	.info .salary p.agenda {
		display: block;
		overflow: auto;
		scrollbar-width: thin;
		
	}
	
	.topnav.responsive .icon {
		background: inherit;
	}

	.topnav a.icon:hover {
		background: inherit;
	}
	.salary p.agenda>span {
		white-space: initial;
	}
	
	.user_header .info .salary .event {
		padding-top: 0;
	}
	.info .layout_button >button {
		width: calc(50% - 5px);
		max-width: calc(50% - 5px);
	}
	.header_nav .section_top_nav {
		height: auto;
		position: static;
		width: 100%;
		background: inherit;
		box-shadow: none;
		display: none;
	}
	.header_nav .section_top_nav.responsive {
		display: block;
		background: white;
		position: fixed;
		top: 50px;
		bottom: 0;
		overflow: hidden;
		z-index: 1;
	}
	.section_top_nav.responsive .close_topnav {
		display: none;
	}
	.header_nav .section_top_nav .button_nav p.button_nav_text {
		display: block;
		height: auto;
		line-height: 28px;
	}
	.button_nav span.button_nav_img {
		height: auto;
		line-height: normal;
	}
	.header_nav .topnav#myTopnav {
		max-width: 100%;
		margin: 5px 0;
		display: block;
		width: auto;
	}
	
	.topnav.responsive >div {
		padding: 0;
	}
	.button_nav {
		height: auto;
		/* line-height: 60px; */
		float: none;
		clear: both;
		overflow: hidden;
		margin: 0;
		padding: 10px 0;
	}
	
	.user_header .info {
		float: none;
		height: auto;
		margin: auto;
		box-shadow:none;
		margin: 0;
		width: 100%;
		box-shadow: 3px 0 14px rgba(0, 0, 0, 0.15), -3px 0 14px rgba(0, 0, 0, 0.15);
		border-radius: 3px;
	}
	.user_header .info>div {
		display: block;
		float: none;
		width: 100%;
		max-width: 100%;
		clear: left;
		margin: auto;
		height: auto;
		margin: auto;
		padding: 10px;
	}
	.user_header .info>div:first-child {
		width: 100% !important;
		max-width: 100%;
		display: block;
		float: none;
		margin: auto;
		height: auto;
		padding: 15px;		
	}
	.header_user_go p {
		margin-top: 10px;
	}
	.efc_show, .efc_hide {
		right: 30px;
	}
	.salary>div {
		text-align: center;
	}
	.info .salary p {
		display: block;
	}
	.salary p>span {
		width: 100%;
		/* display: block; */
		overflow: hidden;
		/* display: inline-block; */
		font-size: 1.5rem;
	}
	.info .layout_button {
		height: auto;
		flex-wrap: wrap;
		justify-content: normal;
		margin: auto;
		justify-content: space-around;
	}
	.info .layout_button >button>a {
		padding: 0;
		overflow-wrap: break-word;
	}
	.info .layout_button >button:not(:last-child) {
		margin: 0;
		margin-bottom: 20px;
		
	}
	.info .layout_button >button:nth-child(odd) {
		margin-right: 10px;
	}
	.layout_button span.img.all_req {
		width: 35px;
		height: 35px;
		background-size: 35px 35px;
		margin: auto;
	}
}