.modal-open{overflow:hidden}
/* Jquery modal */

.modal a.close-modal {
	top: 15px !important;
    right: 20px !important;
	background-image: url('../icons/close.png') !important;
	width: 12px !important;
	height: 12px !important;
}
.modal-body p.error-modal {
	color: red;
	font-weight: 600;
	text-align: center;
	padding: 20px 0;
}
.modal.modal_notice, .modal.modal_questionnaire, .modal_user  {
	position: fixed;
    float: right;
	left:auto;
	right: 0;
	width: 54.79%;
	max-width: 54.79%;
	padding: 0;
	overflow: auto;
	scrollbar-width: thin;	
}
.modal .panel-title {
	margin: 0.5rem;
}

.modal.slide {
	width: 1060px;
    height: 715px;
    max-width: 80%;
	max-height: 80%;
	background: #111111;
	color: #FFFFFF;
	padding: 0  !important;
	overflow: hidden;
}
.users_modal_error {
	display: none;
}
.users_modal_error p {
	margin-top: 15px;
    text-align: center;
}
.modal.modal_user {
	padding: 0;
	max-width: 50%;
}

.form_create_user .second_tab, .form_edit_user .second_tab {
	display: none;
}

.modal .form-group.email {
	clear: left;
}

.modal.modal_user>header  {
    background: #051847;
    border-radius: 3px 3px 0px 0px;
	padding: 30px 50px 50px 45px;
	color: #FFFFFF;	
}

.modal.modal_user>main {
    padding: 45px 50px;
}

.modal.modal_user>header .user_data {
	padding-top: 45px;
	overflow: hidden;
	clear: both;
}

.modal_user .user_data .user_img {
	display: block;
	float: left;
}

.modal.modal_user>header .user_data >div {
	width: calc(100% - 108px);
    float: left;
}

.modal_user .user_data .user_name {
	float: left;
    padding-left: 40px;
    height: 108px;
	display: flex;
	margin: auto;
}

.modal_user a.back {
	float: left;
	line-height: 21px;
    height: 21px;
}

.modal_user a.edit_user {
	float: right;
	font-style: normal;
	font-weight: 500;
	font-size: 0.75rem;
	text-transform: uppercase;
	line-height: 16px;
	line-height: 21px;
    height: 21px;
}

.modal_user .basic_info a.edit_user, .modal_user .permissions a.edit_user  {
	font-weight: 600;
	font-size: 0.5625rem;
	line-height: 28px;
	color: #071E57;	
}
.modal_user .basic_info a.edit_user >svg, .modal_user .permissions a.edit_user >svg {
	margin-right: 10px;
	width: auto;
    height: 13px;
}

.modal_user a.edit_user >svg {
	margin-right: 18px;
    width: 16px;
    height: auto;
}

.modal_user .user_data .user_name >span.name {
	margin: auto;
    font-weight: 500;
    font-size: 1.75rem;
    width: 100%;
    display: block;
    line-height: normal;
}

span.work {
	width: 100%;
    display: block;
    font-size: 1.125rem;
    font-weight: 300;
}

.modal_user .user_data .days_left , .modal_user .user_data .days_used {
	float: right;
	padding: 0 15px;
	height: 108px;
}
.modal_user .user_data .days_left {
	border-right: 1px solid white;
}

.modal_user .user_data .days_left >span, .modal_user .user_data .days_used  >span {
    width: 100%;
    display: block;
	text-align: center;
	font-weight: 500;
	text-align: center;	
	padding-top: 10px;
}
.modal_user .user_data  .days_left >span:first-child, .modal_user .user_data .days_used >span:first-child {
	font-size: 1.875rem;    
	font-weight: 400;
}

.modal_user .user_data  .days_left >span:last-child, .modal_user .user_data .days_used >span:last-child {
	font-size: 0.625rem;
	font-weight: 300;
}

.modal_user .user_img >img {
	width: auto;
    height: 108px;
}

.modal_user main .basic_info, .modal_user main .permissions {
	float: left;
    width: 50%;
}

.modal_user main >div {
	padding: 20px;
}

.modal_user main .basic_info {
	background: #F8FAFF;
	border-radius: 3px;
	width: 35%;
	padding-bottom: 10px;
}

.modal_user main .basic_info >div>label {
	font-weight: 500;
    font-size: 0.75rem;
    color: #071E57;
    display: block;
    margin: 0;
    line-height: 26px;
}

.modal_user main .basic_info >div>span {
	font-weight: 500;
    font-size: 0.875rem;
    color: #1390E9;
    display: block;
    margin-bottom: 20px;
}

.modal_user main .basic_info >div, .modal_user main .permissions >div  {
	clear: left;
	overflow-wrap: break-word;
}

.modal_user main .permissions {
	padding-left: 50px;
	width: 65%;
}
.modal_user main .permissions .role {
	background: #E4EBFF;
    border-radius: 3px;
    font-weight: 500;
    font-size: 0.6875rem;
    line-height: 30px;
    text-align: center;
    color: #0A2A79;
    display: inline-block;
	padding: 0 30px;
	margin-right: 2px;
}

.modal_user main >div h4 {
	font-weight: 600;
    font-size: 1rem;
    color: #071E57;
    line-height: 26px;
	margin-bottom: 20px;
}

.modal {
	right: 0;
	bottom: 0;
	z-index:1050;
	-webkit-overflow-scrolling:touch;
	color: #898989; 
	text-transform: initial;
	padding:20px 35px 25px 35px; 
	height: auto; 
	max-height: 100%; 
	max-width: 575px;
	overflow: auto;
	scrollbar-width: thin;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);;
	background: #fff;

}
.modal.campaign_mail {
	max-width: 700px;
}

.modal.slide .modal_side {
    width: 25%;
    float: left;
	height: 100%;
}

.modal.fade .modal-dialog{-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%);-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto;margin:10px; top: 50%;bottom: 50%;transform: translateY(-50%) !important;}
.modal-content{position:relative;background-color:#fff;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);outline:0;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
.modal-header{padding: 0;border: none;}
.modal-header .close{margin-top:-2px}
.modal-header>h3 {    
	font-weight: 500;
    font-size: 1.125rem;
    line-height: 55px;
    text-align: center;
    color: #071E57;
	text-align: center;
	width: 100%;
}
.mySlides {
	display: none;
	position: relative;
	height: 100%;
  }
  .modal .mySlides>img{
	vertical-align: middle;
	width: auto;
	max-width: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  /* Slideshow container */
  .slideshow-container {
	
	width: 100%;
	position: relative;
	margin: auto;
	height: 100%;
	max-width: 100%;  
	padding: 0;
  }
  
  .mySlides_info {
	display: block;
	padding: 30px;
	position: relative;
	height: 100%;
  }
  
  .mySlides_info h3 {
	font-weight: 600;
	font-size: 1.25rem;
  }
  
  .mySlides_info> p:first-child {
	margin-top: 40px;
	font-weight: normal;
	font-size: 0.9375rem;
  }
  
  .mySlides_info> p:last-child {
	width: auto;
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: inline-block;
  }
  
  .mySlides_info .profile_photo {
	  width: 45px;
	  height: 45px;
	  left: auto;
	  right: 0;
	  transform: none;
	  margin-left: 20px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
  }

.modal-title{margin:0;line-height:1.42857143; font-size: 1.375rem !important;color: #313131;font-weight: 700;text-align:center}

.modal-body{text-align:left;font-size: 0.6875rem !important;color: inherit;font-weight: 500 !important; overflow: auto; scrollbar-width: thin;padding: 0px; overflow-x: hidden;}
.modal-body p {font-size: 0.75rem;color: inherit; font-weight: 500;}
.modal-body h4 {font-size: 0.8125rem;color: inherit;font-weight: 600; padding-bottom: 10px;}
.modal-body h5 {font-size: 0.8125rem;color: inherit; padding-bottom: 10px;}
.modal-body label {
	font-weight: 500;
	font-size: 0.625rem;
	color: #2B2B2B;
}
.form-group>label:first-child {
	width: 100%;
}
.modal-body label:not(.label_file, .container_radio) {
	width: 100%;
}

.modal-body .form-group.datum {
	width: 45%;
	display: block;
	margin-bottom: 20px;
}
.modal-body .form_sequence .form-group.datum {
	width: 100%;
}

.modal .form_sequence input[type="date"] {
	width: 45%;
}
.modal.car_modal {
	max-width: 700px;
}
.modal.slide .modal-body {
	width: 75%;
	float: left;
	height: 100%;
	overflow: hidden;
	background: inherit;
}
.modal.slide .modal-body .mySlides {
	width: 100%;
    
}

.modal input[type=radio] {
	margin-left: 10px;
    margin-right: 5px;
}

.modal.slide .modal-body .mySlides > video {
	max-width: 100%;
    margin: auto;
    display: block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal .form-control:focus {
	background: inherit;
	box-shadow: none;
	border: 1px solid #1594F0;
}
p.validate {
	color: red;
}
input.btn-submit, .btn-next {
	width: auto;
	height: 35px;
	line-height: 35px;
	background: #1594F0;
	border-radius: 5px;
	float: right;
	font-weight: 600;
	font-size: 0.6875rem;
	text-align: center;
	padding: 0 35px;
	color: #FFFFFF;
	border: none;
}

.modal a.btn-cancel, .modal a.btn-back {
	width: auto;
	height: 35px;
	line-height: 35px;
	font-weight: 500;
	font-size: 9px;	
	text-align: center;
	text-decoration-line: underline;
	color: #2B2B2B;
	float: right;
	padding: 0 35px;
	margin-right: 25px;
}

.modal-body .do {
	float: left;
	margin-top: 13px;
    margin-bottom: 20px;
	line-height: 39px;
	text-align: center;
	width: 10%;
}
.modal-footer{padding:15px;text-align:right;font-size: 0.75rem !important; color: inherit;font-weight: 500 !important;display: flex;justify-content: center; border: none;}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}

modal-footer:after,.modal-footer:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before{display:table;content:" "}
.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after{clear:both}

.modal-content {
	position:relative;
}

.modal-content button.close, .modal-content button svg{
	position: absolute !important;
    top: 20px!important;
    right: 20px!important;
    font-size: 11px!important;
    height: 11px !important;
	color: inherit !important;
}

.modal img{
	max-width: 100%!important;
	position: static;
}

.modal div.ad  img {
	position: static;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
}
.notice_main p img, .notice_main table {
	display:block !important;
}

#myModal_role .modal-dialog, #myModal_role  .modal-dialog .modal-content, .myModal_role .modal-dialog, .myModal_role  .modal-dialog .modal-content {
	width: 750px;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	overflow: auto;
	scrollbar-width: thin;
	
}

#myModal_Job  .modal-dialog, #myModal_Job  .modal-dialog .modal-content, .myModal_Job .modal-dialog, .myModal_Job .modal-dialog  .modal-content {
	height: 600px;
}

#myModal_user .modal-dialog, #myModal_user .modal-dialog .modal-content  {
	width: 573px;
	height: 524px;
}

#myModal_shaduler .modal-dialog, #myModal_shaduler .modal-dialog .modal-content{
	width: 490px;
	height: 371px;
}

#myModal_post .modal-dialog, #myModal_post .modal-dialog .modal-content{
	width: 499px;
	height: 460px;
}

#myModal_vacation .modal-dialog, #myModal_vacation  .modal-dialog .modal-content {
	width: 490px;
	min-height: 560px;
}

#myModal_notice .modal-footer {
	padding: 0 35px 15px 40px;
}

#myModal_notice .modal-header h4 {
	padding-bottom: 0;
}

.modal .date, .modal select, .modal textarea, .modal input[type="text"], .modal input[type="date"], .modal input.schedule_date, .modal input[type="email"], .modal input[type="password"], .modal input[type="tel"], .modal input[type="time"], .modal input[type="number"],  .modal input[type="url"]  {
	border-radius: 5px;
    background-color: #F7F9FF;
    border: 1px solid #F0F4FF;
	outline: none;
	outline-color: inherit;
    padding: 0 15px;
	font-weight: 600;
    font-size: 0.75rem;
    color: #1594F0;
}

.modal select:hover{
	border: 1px solid #249BF1;
	display: inline-block;
	cursor: pointer;
}

.modal .date {
	width: 243px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}

.modal input[type="time"] {
	height: 45px;
	line-height: 45px;
}

.modal input:active, .modal input:focus, .modal input:hover {
	outline-color: inherit;
}

input[type="date"]::-webkit-inner-spin-button,
.modal input.schedule_date::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.modal .time {
	width: 122px;
	text-align: center;
}


.modal form.absence .form-group.time {
	display: none;
}

.modal .form-control.date_time {
	float: left;
	width: 45%;
}
.modal input.form-control.date_time {
	margin-right: 5%;
}

.modal select, .modal input[type="text"], .modal input[type="date"], .modal input[type="email"], .modal input[type="password"], .modal input[type="tel"], .modal input[type="number"], .modal input[type="url"]  {
	width: 100%;
	height: 45px;
	line-height: 45px;
}

.modal input.schedule_date {
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-bottom: 15px;
	margin-right: 15px;
}

.modal input[type="date"], .modal input[type="time"]  {
	text-align: center;
}

.schedule_date {
	display: none;
}
.select_save {
	margin: 0 3px 0 15px;
}

.fa-question-circle.show_popUp, svg.fa-question-circle {
	margin-left: 15px;
}
.modal input[type="text"],  .modal input[type="email"], .modal input[type="password"], .modal input[type="tel"], .modal input[type="number"], .modal input[type="url"] {
	color: #1594F0;
	font-weight: 600;
}
.modal input[type="file"] {
    border: none;
    border-radius: 5px;
    outline: none;
    outline-color: inherit;
    padding: 0;
    font-weight: 400;
    font-size: 0.75rem;
    color: #1594F0;
}

.modal select.multiple_box {
	height: 70px;
}

.modal select.multiple_box {
	height: 70px;
}

.modal input.staz  {
	width: 50px !important;
}

.modal textarea {
	width: 100%;
	height: 71px;
	padding: 15px;
}

#myModal_role .form-group:not(:first-child)  {
	width: 47%;
    float: left;
}

#myModal_role .form-group:nth-child(odd),.users .modal .form-group:nth-child(odd){
    margin-right: 20px;
}

.users .modal .form-group, #myModal_role .form-group, .myModal_role .form-group {
	width: 47%;
	float: left;
}

.users .form-group.role{
	width: 100% !important;
}

#myModal_role .form-group:first-child, .myModal_role .form-group {
	margin-right: 20px;
}
#myModal_role span, .myModal_role span{
	width: 33%;
	float: left;
	font-weight: 400;
}

.modal input[type="checkbox"] {
	margin-right: 7px;
}
#myModal_role input[type="checkbox"], .myModal_role input[type="checkbox"]  {
	width: 10px;
	height: 10px;
	margin: 0;
}

.checkbox > label {
	display: block;
}
#myModal_role input[type="text"], .myModal_role input[type="text"] {
	width: 100%;
	margin:0;
}
.first_tab {
	overflow: hidden;
}

.submit_element {
	position: absolute;
    bottom: 0;
    right: 0;
}

#myModal_role h3, .myModal_role h3{
    clear: left;
	padding-top:20px;
}

#myModal_role .modal-header, .myModal_role .modal-header {
	padding: 20px 35px;
}

.modal .form-group {
	position:relative;
	margin-bottom: 20px;
	overflow: hidden;
}

.modal .form-group.last.summernote {
	margin-bottom: 0;
}

p.text-danger {
    position: absolute;
    bottom: 10px;
}

p.modal_form_group_danger {
	margin: 5px;
    color: #e3342f!important;
}

.active {
	display: block !important;
}

.tablinks .step.active {
	display: inline-block !important;
}

.modal-body label.role   {
	margin: 10px 0;
	width: 50%;
	display:inline;
}

.modal-body .role {
	padding: 10px 0 20px 0;
}

#regForm input.btn-submit {
	position: static;
}

.modal-body.event .form-group {
	float: left;
}

.modal-body.event .form-group.title,  .modal-body.event .form-group.datum {
	width: 45%;
    display: block;
    
}
.modal-body.event .form-group.description{
	float:none;
	clear: left;
}

.modal-body.event .form-group.title {
	margin-right: 25px;
}
.modal-body.event .form-group.time {
	width: 45%;
    display: block;
    
	width: 131px;
}
.modal-body.event .form-group.span {
	line-height: 50px;
    padding: 3px;
}

.modal-body.event .form-group.time input {
	width: 100%;
}

.modal input.btn-submit {
	position: static;
}

.form_overtime .form-group.time span {
	float: left;
    height: 34px;
    margin-top: 8px;
    margin-bottom: 30px;
    line-height: 34px;
}

.modal .form_overtime input[type="date"] {
	width: 50%;
	padding-left: 35px;
	text-align: center;
}

.modal .form_overtime input[type="time"] {
	padding-right: 0;
}

.modal .form_overtime .svg-inline--fa.fa-calendar-alt {
	position: absolute;
    top: 22px;
	left: 10px;
}

.modal .note-editor.note-frame {
	border-radius: 5px;
	background-color: #f5f6f8;
    border: 1px solid #dddddd;
	margin-bottom: 20px;
}

option::selection {
	background-color: #1594F0;
	color: white;
   
}
.modal .note-btn {
	font-size: 0.75rem;
}

.modal .form-group.span {
	line-height: 45px;
}

.modal .alert {
	border: none;
}

.modal .alert-success, .modal  .alert.alert-danger {
	background-color: #ffffff;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.5rem;
    text-align: center;
    color: #071E57;
    margin-top: 60px;
}

.modal .alert button.close, .modal .alert strong {
	display: none;
}

.modal .modal-header {
    display: flex;
    justify-content: center;
}

.modal-footer .btn_all {
	width: 128px;
	height: 41px;
	background: #F7F9FF;
	border: 1px solid #F0F4FF;
	box-sizing: border-box;
	border-radius: 5px;
	color: #1594F0;
	font-weight: 500;
	font-size: 0.625rem;
	margin-right: 20px;
}

.modal-footer .done {
	width: 128px;
	height: 41px;
	background: #1594F0;
	border-radius: 5px;
	border: none;
}

.modal-footer .done a {
	color: white;
	font-weight: 500;
	font-size: 0.625rem;
	width: 100%;
    height: 100%;
    display: inline-block;
	line-height: 40px;
	
}

.modal a.btn-close {
	float: right;
    line-height: 35px;
	margin-right: 20px;
	width: 110px;
	font-weight: 500;
	font-size: 0.6875rem;
	text-align: center;
	text-decoration-line: underline;
	color: #2B2B2B;
}

.modal.modal_questionnaire .ev_employee_id  {
	border: 1px solid #dee2e6;
}

.modal.modal_questionnaire #anketa .rbr, .modal.modal_questionnaire #anketa_1 .rbr, .modal.modal_questionnaire #anketa_2 .rbr  {
	font-weight: 700;
    font-size: 0.9735rem;
    text-align: center;
    color: #606060;
    width: 27px;
    height: 27px;
    background: #EDEFF3;
    border-radius: 3px;
    display: inline-block;
    line-height: 27px;
	margin-right: 25px;
	flex-shrink: 0;
}


.modal.modal_questionnaire .pitanje>p {
	font-weight: 600;
	font-size: 0.9375rem;
	color: #606060;
	margin: 0;
	display: flex;
}

.modal.modal_questionnaire .pitanje .opis {
	font-weight: 400;
}

.modal.modal_questionnaire .pitanja {
	overflow: hidden;
}

.modal.modal_questionnaire .pitanja .ocj {
	display: block;
	width: 100%;
	clear: left;
	padding-left: 108px;
    margin-bottom: 35px;
}
.modal.modal_questionnaire .pitanja .container_radio {
	line-height: 27px;
	font-weight: normal;
	font-size: 0.9375rem;
	color: #606060;
}

.modal.modal_questionnaire .pitanja .container_radio.count {
	line-height: 40px;
	margin-bottom: 10px;
}

.ocj .answers_input {
	background: #F8FAFF;
	padding:23px;
}

.answer_input p:first-child {
	font-weight: 600;
	font-size: 0.8125rem;
	line-height: 23px;
	color: #071E57;
}

.ocj .answers_input p:last-child {
    font-weight: 400;
	color: #606060;
	font-size: 0.9375rem;
}


.ocj .answers_input .answer_input:not(:last-child){
	border-bottom: 1px solid rgba(154, 154, 154, 0.3);
}

.answer_input:not(:last-child) p:last-child {
	margin-bottom: 25px;
}

.ocj .answers_input .answer_input:only-child p:last-child {
	margin-bottom: 0;
}

.modal .link_back {
	width: 13px;
	height: 21px;
	margin-top: 30px;
	margin-left: 40px;
	display: inline-block;
}

.modal.modal_questionnaire .modal-header {
	height: auto;
}
.modal.modal_questionnaire .modal-header {
	display: block;
}

.btn-shedule .img_shedule {
	margin-right: 15px;
    margin-bottom: 2px;
}

.modal.modal_questionnaire .modal-header h2 {
	font-weight: 600;
    font-size: 1.25rem;
    color: #071E57;
    padding: 0 45px;
    clear: left;
	margin-bottom: 20px;
	line-height: 45px;
	display: inline-block;
    width: auto;
    max-width: 70%;
}

.modal.modal_questionnaire .modal-header.results h2 {
    display: block;
    clear: right;
    overflow: hidden;
    margin-top: 30px;
}

.modal.modal_questionnaire .modal-header > h3 {
	clear: right;
	font-weight: 600;
	font-size: 1.75rem;
	line-height: 34px;
	color: #071E57;
	margin: 15px 0 25px;
}

.modal.modal_questionnaire .modal-header .empl_select {
	width: auto;
    max-width: 30%;
}

.modal.modal_questionnaire .new_questionnaire label {
	font-weight: 600;
	font-size: 0.9375rem;
	color: #2B2B2B;
}

.modal.modal_questionnaire .modal-body  {
	padding: 40px 50px;
	overflow: auto;
	scrollbar-width: thin;
	
}

.modal.modal_questionnaire .progress_bar {
	width: 75%;
    height: 8px;
    background: #EDEFF3;
    border-radius: 5px;
    display: block;
    float: left;
     position: relative;
}

.modal.modal_questionnaire .progress_val {
    width: 25%;
    font-weight: 600;
    font-size: 0.625rem;
    color: #2B2B2B;
    line-height: 10px;
    text-align: right;
	float: left;
	font-weight: 600;
	font-size: 0.9375rem;
	color: #2B2B2B;
}

.modal.modal_questionnaire .progr {
    display: block;
    clear: right;
    overflow: hidden;
	padding: 35px 50px 25px 40px;
}

.modal.modal_questionnaire .progress_bar .progress {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    z-index: 1;
    border-radius: 5px;
    background-color: #1594F0;
    height: 8px;
}

#anketa h4, #anketa_1 h4, #anketa_2 h4  {
    font-weight: 600;
    font-size: 0.9375rem;
    color: #606060;
}

.modal-body h4 span.ctg_name, .modal-body p span.ctg_name {
	line-height: 27px;

}

#anketa .pitanje, #anketa_1 .pitanje, #anketa_2 .pitanje, .ocj input[type=radio] {
    font-weight: 400;
    font-size: 0.9375rem;
    color: #606060;
}

#anketa_2 .pitanje {
	padding-left: 52px;
}
#anketa .pitanje, #anketa_1 .pitanje, #anketa_2 .pitanje {
	margin-bottom: 15px;
	overflow: hidden;
	padding-left: 52px;
}

.pitanje .question {
	width: calc( 100% - 52px);
	padding-bottom: 20px;
}


.modal.modal_notice form {
	height: 100%;
}
.modal.modal_notice.modal_campaign form {
	height: auto;
}

.modal.modal_notice .modal-header, .modal.modal_notice .modal-header,  .modal.modal_questionnaire .modal-header  {
	background: #F8FAFF;
	border-radius: 3px 3px 0px 0px;
	min-height: 121px;
	width: 100%;
	overflow: hidden;
}

.modal.modal_notice.notice_show .modal-body:not(.modal-body.statistic_body) {
	padding: 0;
}

.modal.modal_notice .modal-body img.img_notice {
    width: 100%;
    top: 30%;
    transform: translateY(-30%);
}

.modal.modal_notice .modal-body img.img_notice.show_all {
    top: auto;
    transform: none;
}

.modal.modal_notice .modal-body .notice_content, .modal.modal_notice .modal-body {
	padding: 25px 50px 40px 40px;
}
.modal.modal_notice.modal_campaign .dt-buttons {
	display: none;
}
.modal.modal_notice.modal_campaign .modal-body {
	padding: 15px 40px 40px 30px;
}
.modal.modal_notice .close-modal, .modal.modal_questionnaire .close-modal  {
	display: none;
}

.modal.modal_notice .modal-header {
	display: block;
}

.modal.modal_notice .btn-submit, .modal.modal_questionnaire .btn-submit {
	margin-top: 20px;
	margin-right: 25px;
	width: 116px;
	height: 36px;
	background: #1594F0;
	border-radius: 3px;
	font-weight: 600;
	font-size: 0.625rem;
	text-align: center;
	color: #FFFFFF;
	display: inline-block;
    float: right;
    line-height: 36px;
}

.modal.modal_notice .schedule_notice, .modal.modal.modal_questionnaire .btn-shedule {
	width: 116px;
	height: 36px;
	background: #F3F6FF;
	border: 1px solid #E0E8FF;
	border-radius: 3px;
	float: right;
	font-weight: 600;
	font-size: 0.625rem;
	line-height: 36px;
	text-align: center;
	margin-top: 20px;
	margin-right: 15px;
	color: #1594F0;
}

.modal.modal_notice .modal-header>h3 {
	clear: both;
	font-weight: 600;
	font-size: 1.75rem;
	line-height: 1.75rem;
	text-align: center;
	color: #071E57;
}
.modal.modal_notice.modal_campaign .modal-header>h3 {
	margin: 35px 0;
	line-height: 60px;
}
.modal.modal_notice.modal_campaign .modal-header>p {
	padding: 0 40px;
    font-weight: 500;
    font-size: 0.8125rem;
    /* line-height: 25px; */
    color: #292929;
    margin-bottom: 30px;
}


.modal.modal_notice .form-group>label {
	font-weight: 600;
	font-size: 0.9375rem;
	color: #2B2B2B;
	padding-bottom: 5px;
	display: inline-block;
} 
.modal.modal_notice .note-editable {
	background: #F3F6FF;
	border: 1px solid #E0E8FF;
	box-sizing: border-box;
	border-radius: 0px 0px 3px 3px;
}

.modal.modal_notice.notice_show .modal-header .btn-edit, .modal.modal_notice.notice_show .modal-header .btn-statistic, .modal.modal_notice.notice_show .modal-header .view_all, .modal.modal_questionnaire .modal-header .btn-edit, .modal.modal_questionnaire .modal-header .btn-statistic,  .modal.modal_notice .btn-delete {
	float: right;
    margin-top:30px;
	margin-right: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #1594F0;
	text-transform: uppercase;
}

.modal.modal_notice.modal_campaign .btn-delete, .modal.modal_notice.modal_campaign .btn-edit {
    margin: 0;
}

.modal.modal_questionnaire .btn-delete i, .modal.modal_questionnaire .btn-delete svg {
	font-size: 1rem;
}
.modal.modal_notice .modal-header a>img {
	max-height: 16px;
	margin-right: 15px;
	margin-top: -1px;
}

.modal.modal_notice.notice_show  .modal-header {
	height: auto;
	overflow: hidden;

}

.modal.modal_notice.notice_show .modal-header>h3 {
	margin: 20px 0;
}
.notice_img {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 10px;
}

.modal.modal_notice.notice_show .link_back {
	margin-left: 45px;
	margin-right: 40px;
}

.modal.modal_notice.notice_show .modal-header>h3.statistic_title {
	text-align: left;
	margin-left: 45px;
}


.modal.modal_notice.notice_show {
	overflow: hidden;
}
.modal.modal_notice.notice_show .image_notice {
	height: auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    max-height: 50%;
}

.modal.modal_notice.notice_show .image_notice.show_all {
	height: auto;
	max-height: fit-content;
}

.modal.modal_notice.notice_show .modal-body {
	overflow: auto;
	scrollbar-width: thin;
	padding: 25px 50px 40px 40px;	
}

.modal.modal_notice.notice_show .modal-body.statistic_body {
	padding: 20px 40px;
}

.modal_notice.statistic_index {
	background: #F4F7FF;
}

.modal_notice.statistic_index .modal-header {
	background: #ffffff;
}

.modal_notice.statistic_index .modal-body {
	padding: 22px 40px 40px 40px;
}

.title_page {
	font-weight: 600;
    font-size: 0.875rem;
    line-height: 18px;
    color: #051847;
	text-transform: uppercase;
}	

.note-resizebar {
	display: none;
}

.notice_name {
	font-weight: 600;
	font-size: 0.9375rem;
	color: #071E57;
	margin-bottom: 20px;
	display: inline-block;
	margin-left: 45px;
}

.notice_date {
	font-weight: 500;
	font-size: 0.9375rem;
	color: #606060;
	line-height: 25px;
	margin-left: 45px;
}

.statistic {
	width: 100%;
	height: auto;
	background: #051847;
	padding: 27px 0;
	clear: left;
	overflow: hidden;
	display: none;
	margin-top: 30px;
}

.statistic p.info_statistic {
	font-weight: 500;
	font-size: 1.75rem;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #F8FAFF;
	position: relative;
}

.statistic p.info_statistic >img {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.statistic span.info_statistic  {
	font-weight: normal;
	font-size: 0.75rem;
	text-transform: uppercase;
	line-height: 13px;
	text-align: center;
	color: #F8FAFF;
	width: 100%;
    display: block;
}

.statistic_index .filter {
    float: right;
	height: auto;
	margin-bottom: 20px;
}

.statistic_index .filter select {
	width: auto; /* 157px*/
    height: 43px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 18px;
    color: #071E57;
    text-align: center;
}

.total_read, .notice_read {
	margin-bottom: 20px;
	clear: right;
}

.total_read h5, .notice_read h5 {
	font-weight: 600;
	font-size: 0.875rem;
	color: #071E57;
}

.total_read{
	background: #ffffff;
	padding: 30px 65px 40px 30px;
	overflow: hidden;
}

.total_read canvas#myChart {
	max-width: 214px ;
    max-height: 214px;
    float: right;
}

.notice_read canvas.myChart {
	max-width: 138px;
	max-height: 138px;
	margin-left: auto;
    margin-right: auto;
}

.notice_read {
    padding: 0;
}

.notice_read:not(:last-child) {
	padding-right: 20px;
}

.notice_read >div {
	background: #ffffff;
	padding: 25px;
	overflow: hidden;
	display: block;
	text-align: center;
}

.col-4.float_l.notice_read:first-child, .col-4.float_l.notice_read:nth-child(2) {
    margin-right: 20px;
}

.total_read .statistic_data>p {
    font-weight: 500 !important;
    font-size: 2.1875rem !important;
	color: #249BF1;
    margin: 20px 0;
    padding: 0;
}

.total_read .statistic_data>p>span {
	font-weight: 500;
	font-size: 0.75rem;
	color: #606060;
	display: block;
	line-height: 20px;
}

.notice_read .statistic_data>p {
    font-weight: 500 !important;
    font-size: 1.5625rem !important;
    color: #071E57;
    display: block;
    text-align: left;
}

.notice_read .statistic_data>p>span {
	font-weight: 500;
	font-size: 0.75rem;
	color: #606060;
	display: block

}

.total_read .statistic_chart {
	position: relative;
	height: 214px;
	width: 214px;
	padding: 0;
}

.notice_read .statistic_chart {
	position: relative;
	height: 138px;
	width: 138px;
	padding: 0;
	margin: auto;
}
.statistic_chart canvas, .statistic_chart .chart_value {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.total_read .statistic_chart .chart_value  {
	font-weight: 500;
	font-size: 2.5rem;
	color: #1594F0;
}

.total_read .chart_value small {
	font-size: 1.75rem;
}

.notice_read .statistic_chart .chart_value {
	font-weight: 500;
	font-size: 1.5625rem;
	color: #071E57;
}

.notice_read .chart_value small {
	font-weight: 500;
	font-size: 1.125rem;
}

.notice_read .statistic_chart .chart_value.first, .notice_read .statistic_data .chart_value.first  {
	color: #071E57;
}

.notice_read .statistic_chart .chart_value.second, .notice_read .statistic_data .chart_value.second  {
	color: #EA9413;
}

.notice_read .statistic_chart .chart_value.last, .notice_read .statistic_data .chart_value.last   {
	color: #13EA90;
}

input#file {
    visibility: hidden;
}

.ad .panel-body {
	padding: 20px 0;
	font-size: 12px;
}

/* The container */
.container_radio {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  

.modal.modal_questionnaire .new_questionnaire  .aktivna .container_radio {
	margin-right: 20px;
	font-weight: 400;
	font-size: 0.875rem;
}

/* Hide the browser's default radio button */
.container_radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
  
  /* Create a custom radio button */
.container_radio .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 27px;
	width: 27px;
	background-color: #EDEFF3;
	border-radius: 3px;
	border: none;
}

.type.form-group>label:first-child {
	width: 100%;
}
/* 
  .active_status .container_radio.status_checked .checkmark {
	background: #1594F0;
    border-radius: 3px 0px 0px 3px;
    line-height: 55px;
    color: #fff;
    width: 74px;
    float: left;
  }

.active_status .container_radio.status_unchecked .checkmark{
	background: #F7F9FF;
	border: 1px solid #F0F4FF;
	border-radius: 0px 3px 3px 0px;
	line-height: 55px;
	color: #D7D7D7;
	width: 74px;
	float: left;
} */
/*   .active_status .container_radio .checkmark {
	  display: none;
  } */




/* Customize the label (the container) */
.container_radio.status_checked {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 0.625rem;
	line-height: 16px;
	padding: 10px;
	width: 74px;
}

/* Hide the browser's default checkbox */
.container_radio.status_checked input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.container_radio.status_checked .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #eee;
	width: 100%;
	height: 100%;
	text-align: center;
}

/* On mouse-over, add a grey background color */
.container_radio.status_checked hover input ~ .checkmark {
	background-color: #ccc;
	color: #D7D7D7;
}

/* When the checkbox is checked, add a blue background */
.container_radio.status_checked input:checked ~ .checkmark {
	background-color: #2196F3;
	color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container_radio.status_checked  .checkmark:after {	
	position: absolute;
	display: block;
	background-color: inherit;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 38px;
}
.container_radio.status_checked  .checkmark.active:after {
	content: "Active";
}
.container_radio.status_checked  .checkmark.inactive:after {
	content: "Inactive";
}

/* Show the checkmark when checked */
.container_radio.status_checked input:checked ~ .checkmark:after {
	display: block;
}

.modal_campaign .active_status {
	float: right;
	margin-top: 30px;
	margin-right: 10px;
}

.modal_campaign .dataTables_wrapper .dataTables_info {
	display: none;
}
  .type .container_radio {
	margin-right: 10px;
  }

.type .container_radio .checkmark {
	border-radius: 50%;
	height: 14px;
	width: 14px;
}

.container_radio .checkmark.radio {
	border-radius: 50%;
}

.container_radio.count {
	line-height: 40px;
	padding-left: 55px;
}
.container_radio.count .checkmark.count_results {
	width: 40px;
	height: 40px;
	background-color: #1594F0;
	color: #ffffff;
	border-radius: 50%;
	font-size: 0.75rem;
	text-align: center;
}
	.ocj .container_radio.count:nth-child(2) .checkmark.count_results {
		background: rgba(21, 148, 240, 0.8);
	}
	.ocj .container_radio.count:nth-child(3) .checkmark.count_results {
		background: rgba(138, 202, 248, 0.6);
	}
	.ocj .container_radio.count:nth-child(4) .checkmark.count_results {
		background: rgba(207, 233, 252, 0.6);
	}
	.ocj .container_radio.count:nth-child(5) .checkmark.count_results {
		background: rgba(231, 244, 253, 0.6);
		color: #606060;
	}
  /* On mouse-over, add a grey background color */
  .container_radio:hover input ~ .checkmark {
	background-color: #EDEFF3;
	border: 1px solid #1594F0;
	
  }
  /* When the radio button is checked, add a blue background */
  .container_radio input:checked ~ .checkmark {
	background-color: #eee;
	color: #D7D7D7;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .container_radio:after {
	content: "";
	position: absolute;
	display: none;
	
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container_radio input:checked ~ .checkmark:after {
	display: block;
  }

  /* Style the indicator (dot/circle) */
  .container_radio .checkmark:after {
	  top: 6px;
	  left: 6px;
	  width: 15px;
	  height: 15px;
	  background-color: #1594F0;
	  border-radius: 3px;
  }

  .type .container_radio .checkmark:after {	
	border-radius: 50%;
	width: 8px;
	height: 8px;
	top: 3px;
	left: 3px;
  }

  .container_radio .checkmark.radio:after {
	border-radius: 50%;
  }

  .input_answer {
	background: #FFFFFF;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
  }
  .modal.modal_questionnaire input.btn-submit.fill  {
	padding: 0 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 0.6875rem;
		
	}
	
	.modal_questionnaire .aktivna .container_radio .checkmark {
		height: 20px;
		width: 20px;
	}
	.modal_questionnaire .aktivna .container_radio .checkmark:after {
		top: 4px;
		left: 4px;
		width: 12px;
		height: 11px;
	}

	.add_question, .add_category, .add_answer {
		font-weight: bold;
		font-size:0.9375rem;
		color: #1594F0;
		background: inherit;
		border: none;
		display: inline-block;
		cursor: pointer;
	}

	.add_category {
		margin-top: 20px;
	}

	.add_question, .add_answer {
		padding-left: 50px;
		margin-bottom: 20px;
		outline: none;
	}

	.group_question , .group_category {
		overflow: hidden;
		padding-right: 35px;
		clear: left;
	}

	.group_question  {
		padding-left: 50px;
		
	}

	.group_question .question, .group_category .category {
		position: relative;
		clear: left;
	}

	.group_question .question .option_dots, .group_category .category .option_dots {
		position: absolute;
		right: -30px;
		top: 15px;
	}

	.question .content, .category .content {
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		background-color: inherit;
		display: none;
		position: absolute;
		top: 5px;
		background: #ffffff;
		right: -35px;
		padding: 10px;
		opacity: 1;
		border: none;
		z-index: 1;
	}

	.question .content svg, .question .content i, .category .content svg, .category .content i {
		font-size: 0.875rem;
	}
	.group_answer, .add_answer {
		display: none;
	}

	.edit_q .newQ.group_answer, .edit_q .newQ.add_answer {
		display: none;
	}

	.edit_q .answer.new {
		display: none;
	}

	.red_br .rbr {
		width: 27px;
		height: 27px;
		/* left: 694px; */
		/* top: 289px; */
		background: #EDEFF3;
		border-radius: 3px;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		color: #606060;
		display: inline-block;
		line-height: 27px;
	}

	.category_name, .question_name {
		display: none;
	}

	.modal form.edit_form input[type="text"] {
		color: #898989;
		font-weight: 500;
	}

	.modal form.edit_form  textarea {
		color: #898989;
		font-weight: 400;
	}

	.group_body_footer {
	/*	margin: auto;
		display: block;
		margin-top: 30%;
		margin-bottom: 70%;
		transform: translateY(-50%);*/
	}

.modal-body.body_post {
	padding-top: 15PX;
}

.modal textarea.post_content {
    height: auto;
}

.modal textarea.input_answer {
	width: calc(100% - 115px);
}

body .blocker {
	z-index: 2;
}

.message_to_empl, .message_to_dep {
	cursor: pointer;
}

input.form-control.date {
	width: auto;
}
@media (max-width:1300px) { 
	.modal.modal_user>header, .modal.modal_user>main {
		padding: 20px;
		
	}
	.modal.modal_user>main {
		overflow: auto;
	}
	.modal.modal_user>header .user_data {
		padding-top: 20px;
	}
	.modal_user .user_img >img, .modal_user .user_data .user_name, .modal_user .user_data .days_left, .modal_user .user_data .days_used {
		height: 70px;
	}
	.modal_user .user_data .user_name {
		padding-left: 10px;
	}
	.modal_user .user_data .user_name >span.name, .modal_user .user_data .days_left >span:first-child, .modal_user .user_data .days_used >span:first-child {
		font-size: 1.5rem;
		padding: 0;
	}
	.modal_user .user_data .days_left >span, .modal_user .user_data .days_used >span {
		padding-top: 0;
	}
	

}
@media (max-width:1200px) {
	.modal.modal_notice, .modal.modal_questionnaire, .modal.modal_user {
		display: inline-block;
		position: relative;
		float: none;
		width: 80%;
		max-width: 80%;
		height: 90%;
		max-height: 90%;
	}
}

@media (min-width:992px){
	modal-lg{width:900px}
}

@media (min-width:768px) {
	body .blocker {
		z-index: 2;
	}
	.modal-dialog{width:600px;margin:auto}
	.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
	.modal-sm{width:300px}
	input#date1, .modal-body .do {
		margin-bottom:0;
	}
}

@media (max-width:768px){
	body .blocker {
		padding: 10px;
	}
	.modal.modal_notice.notice_show .modal-body.statistic_body {
		padding: 10px;
	}
	body .modal {
		padding: 0 !important;
		width: 100%;
		height: auto;
		max-height: 100%;
	}
	.modal.slide {
		padding: 0 !important;
		height: 70%;
		width: 90%;
		max-width: 90%;
	}
	.modal.upload {
		padding-top: 30px !important;
	}
	.modal .form-group {
		margin-bottom: 0;
	}
	.modal .time {
		width: 40%;
	}
	div.span > span {
		height: 30px;
		line-height: 30px;
		display: inline-block;
		margin-bottom: 15px;
		float: left;
		width: 100%;
	}
	.modal-dialog,  .modal-dialog .modal-content {
		width: 100% !important;
		height: auto;
		max-height: 100% !important;
		padding: 10px;
		margin: 0;
		overflow:auto;
	}
	#myModal_shaduler .modal-dialog, #myModal_shaduler .modal-dialog .modal-content {
		min-height: 371px !important;
	}
	.modal.modal_notice .modal-body .notice_content, .modal.modal_notice .modal-body{
		padding: 15PX;
	}
	.modal .date, .modal select, .modal textarea, .modal input:not(.btn-submit) {
		margin-bottom: 10px;
	}
	.modal-header{
		padding: 20px;
		padding-bottom: 0;
		min-height: auto;
	}
	
	.modal-body{ 
		padding: 0 20px 20px;
	}

	.modal.modal_notice .modal-body {
		padding: 15px;
		overflow: auto;
		scrollbar-width: thin;
		
	}

	.modal select, .modal input[type="text"], .modal input[type="date"],  .modal input[type="time"], .modal input[type="email"], .modal input[type="password"], .modal input[type="tel"], .modal input[type="number"], .modal input[type="url"]{
		margin-bottom: 15px;
		height: 30px;
		padding: 0;
		line-height: 30px;
	}
	select.form-control[multiple], select.form-control[size] {
		min-height: 30px;
	}
	.modal-body.event .form-group.span {
		line-height: initial;
	}
	.modal.modal_notice.notice_show {
		overflow: auto;
		scrollbar-width: thin;
		
	}
	.notice_read {
		width: 100%;
		max-width: 100%;
		margin: 10px auto;
		float: none;
		clear: both;
		display: block;
		padding: 0;
	}
	.notice_read:not(:last-child) {
		padding: 0;
	}
	.modal.modal_notice, .modal.modal_questionnaire, .modal.modal_user  {
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		overflow: auto;
		scrollbar-width: thin;
		
	}
	
	.modal.modal_notice.notice_show .modal-header>h3.statistic_title {
		margin: 0;
		text-align: center;
		padding: 0;
		padding-bottom: 10px;
	}
	.modal.modal_notice .modal-header {
		padding: 0;
		height: auto;
		min-height: auto;
	}

	.modal.modal_notice .modal-header>h3 {
		padding: 10px;
	}
	
	.link_back, .modal.modal_notice.notice_show .link_back {
		margin: 10px;
		background-color: inherit;
	
	}
	.statistic_index .filter {
		float: none;
		margin-bottom: 10px;
	}
	.statistic_index .filter select {
		margin-bottom: 0;
	}
	.statistic_index .filter select.time {
		float: right;
    	margin-right: 0;
	}
	.statistic_index .filter select.select_department {
		float: left;
   	 	margin-left: 0;
	}
	.total_read {
		padding: 15px;
	}
	.total_read .statistic_data>p {
		font-size: 1.5rem !important;
	}
	.total_read .statistic_data>p
	.modal.modal_notice .schedule_notice, .modal.modal_notice .btn-submit {
		margin-top: 15px;
		width: 80px;
		padding: 0;
		height: 30px;
		line-height: 30px;
	}
	.total_read .statistic_data>p:nth-child(3) {
		clear: left;
		float: left;
	}
	.modal .link_back {
		margin-top: 15px;
		margin-left: 15px;
	}

	.modal.modal_notice.notice_show .modal-header {
		padding: 0;
	}
	.statistic {
		margin: 0;
		padding: 10px 0;
	}
	.statistic p.info_statistic {
		font-size: 1.25rem;
	}
	.statistic span.info_statistic {
		font-size: 0.6875rem;
	}
	.modal.modal_notice.notice_show .modal-header>h3 {
		margin: 0;
		padding: 15px 0;
	}

	.modal.modal_notice.notice_show .notice_name {
		float: left;
		width: 50%;
		margin: 5px 0;
		padding-left: 15px;
	}

	.modal.modal_notice.notice_show .notice_date {
		float: right;
		width: 50%;
		text-align: right;
		margin: 5px 0;
		padding-right: 15px;
	}
	.view_all>span, .btn-statistic>span, .btn-edit>span {
		display: none;
	}
	.modal.modal_notice.notice_show .modal-header .btn-edit, .modal.modal_notice.notice_show .modal-header .btn-statistic, .modal.modal_notice.notice_show .modal-header .view_all {
		margin-right: 0; 
		margin-top: 15px;
	}
	.statistic p.info_statistic >img {
		width: 70%;
	}
	.modal.slide .modal-body, .modal.slide .modal_side {
		width: 100%;
		float: none;
		height: 50%;
		clear: left;
	}
}

@media (max-width:450px) {
	.modal.modal_notice.notice_show .modal-body {
		padding: 10px;
	}
	.modal .link_back, .modal.modal_notice.notice_show .modal-header .btn-edit, .modal.modal_notice.notice_show .modal-header .btn-statistic, .modal.modal_notice.notice_show .modal-header .view_all, .modal.modal_questionnaire .modal-header .btn-edit, .modal.modal_questionnaire .modal-header .btn-statistic, .modal.modal_notice .btn-submit, .modal.modal_questionnaire .btn-submit {
		margin: 10px;
	}
	.modal-header {
		padding: 5px;
	}
	.modal.modal_questionnaire .modal-header {
		min-height: auto;
	}
	.modal.modal_questionnaire .modal-header.results h2 {
		padding: 0;
		margin: 0;
		text-align: center;
		max-width: 100%;
	}
	.modal.modal_questionnaire .modal-body {
		padding: 10px;
	}
	#anketa .pitanje, #anketa_1 .pitanje, #anketa_2 .pitanje {
		margin-bottom: 10px;
		padding-left: 25px;
	}
	.modal.modal_questionnaire .pitanja .ocj {
		margin-bottom: 10px;
    	padding-left: 50px;
	}
	.modal textarea.input_answer {
		width: 100%;
		padding: 5px;
		height: 50px;
	}
	.container_radio {
		margin-bottom: 10px;
	}

	.group_question, .group_category {
		padding: 0;
		padding-left: 15px;
	}
	.modal .form-group.q_name {
		width: 100%;
	}
	.modal .form-group.categories  {
		width: 66%;
	}
	.modal .form-group.red_br {
		margin-right: 15px;
	}
	.container_radio.count .checkmark.count_results {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	.modal.modal_questionnaire .pitanja .container_radio.count {
		line-height: 30px;
	}
	.group_question .question >div:nth-child(2) {
		width: 86%;
		float: left;
		padding: 0;
	}
	.modal .link_back {
		height: 27px;
	}
	.ocj .answers_input {
		padding: 10px 5px;
	}

	.modal.modal_notice.notice_show .image_notice {
		height: auto;
	}
	.modal.modal_notice .modal-body img.img_notice {
		top: 0;
		transform: none;
	}
	.modal.slide {
		height: 100%;
		display: inline-block;
		max-height: 100%;
		width: 100%;
		max-width: 100%;
	}
	.mySlides_info> p:last-child {
		position: static;
	}
	.modal-body .next {
		right: 20px;
	}
}

span.file_name {
	margin-left: 15px;
}

.modal .upload_user_photo .label_file >span {
	margin-top: 0.5rem;
}
.form-group.user_name {
	width: 50%;
	float: left;
} 

.form-group.user_name:nth-child(2) {
	padding-right: 5px;
}
.form-group.user_name:nth-child(3) {
	padding-left: 5px;
}

.mark_lines {
	display: block;
    position: absolute;
    top: -2px;
    width: 172.2px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    line-height: 6px;
}

.mark1, .mark2 {
	width: 84px;
    height: 6px;
    display: inline-block;
    line-height: 6px;
}
.mark1 {
	background: #1594F0;
}
.mark2 {
	background: rgba(43, 43, 43, 0.2);
}

.modal-header .btn_edit_ad {
	float: right;
}

.ad_image {
	padding-left: 20px;
}

.modal .tox-tinymce {
	border: 1px solid #F0F4FF;
}

.modal .tox .tox-statusbar {
	border-top: 1px solid #F0F4FF;
}
.modal .tox .tox-menubar {
	background: none;
	border-bottom: 1px solid #F0F4FF;
}
.modal .tox .tox-toolbar__primary {
	background: none;
	border-bottom: 1px solid #F0F4FF;
}

.modal .tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
    border-right: 1px solid #F0F4FF;
}

.modal .tox .tox-mbtn, .modal .tox .tox-tbtn {
	height: 25px;
}

.modal_none {
	display: none;
}

.modal_body_task {
	padding-top: 20px;
}

.modal input.day_go{
	width: 100px;
    float: left;
}
.span_day_go {
	line-height: 45px;
	padding: 0 10px;
}

.add_new {
	cursor: pointer;
    text-decoration: underline;
    float: right;
    color: #1b95f0;
}
.group_abs {
	overflow: hidden;
    margin-bottom: 10px;
}

.modal .remove {
	line-height: 45px;
    cursor: pointer;
    color: #dc3545;
    margin-left: 15px;
}
.modal.modal_notice.modal_campaign .btn-delete.modal_delete {
	background: #F3F6FF;
    border: 1px solid #E0E8FF;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: 600;
	font-size: 0.6875rem;
    line-height: 12px;
    text-align: center;
	color: #1594F0;
	margin-top: 30px;
}

.modal_campaign .modal_delete >svg {	
	font-size: 0.8125rem;
	margin-right: 10px;
}
