html, body {
	background-color: #fff;
	color: #636b6f;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	height: 100vh;
	margin: 0;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-toolbar {
	margin: 0;
	margin-top: 20px;
}
.btn-toolbar a {
	display: block;
    float: right;
}
.m-b-md {
	margin-bottom: 30px;
}

aside {
	float: left;
	width: 25%;
}
main {
	float: left;
	width: 75%;
}
#external-events {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	background: #eee;
}
#external-events .fc-event {
margin: 1em 0;
cursor: move;

}
#external-events a {
	width: 30px;
    height: 30px;
    display: inline-block;
    background: inherit;
    /* border: 1px solid #337ab7; */
    border-radius: 3px;
    text-align: center;
    /* vertical-align: middle; */
    /* padding-top: 4px; */
    position: relative;
    float: right;
}
#external-events p {
	overflow: hidden;
}
#external-events a>img {
	max-width: 80%;
	max-height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 
#calendar-container {
position: relative;
z-index: 1;
margin-left: 200px;
}
#calendar {
max-width: 900px;
margin: 20px auto;
}

.projects_list {
	margin-top: 20px;
}

.projects_list h4 {
	margin-top: 15px;
}

.projects_list p {
	padding-left: 20px;
	display: inline;
	margin-right: 20px;
}
.delete_form {
	display: inline;
}
.delete_form>button {
    border: none;
    background: inherit;
}   
.delete_form>button >span, .glyphicon-edit {
	color: #ccc;
	
}
.modal-footer.projectEmployees {
	text-align: left;
}
.modal-footer.projectEmployees h5 {
	font-weight:bold;
	text-decoration: underline;
}